[2011-05-12 12:55] kule opened #4 "Updated Gem?"
As the title really - is there going to be an updated acts_as_list gem with the recent changes?

Thanks
Luke

[2011-05-12 13:33] #4 closed, assigned to nobody

[2011-05-29 11:01] yamanyar opened #5 "Graph like behaviour"
I can store a relation that is a graph in fact. Is it expected? I think it should throw an exception when there is a recycling path (For example A->B->A->B....). Here is the test (please note that this test passes; however i am expecting it to fail):

category = Category.new
category.name="Parent"
category.save
child = category.children.create("name" => "child_1")
child.children = [category]
asser

[2011-05-30 06:54] #5 closed, assigned to nobody

[2011-07-28 22:14] rockrep opened #8 "insert_at fails on postgresql w/ non-null constraint on postion_column"
Switched from mysql 5.1.49 to postgresql 8.3.12 using gem 'pg', '0.11.0'.

Our model acts_as_list, and our databases (both Mysql and PostgreSQL) have non-null constraints on the position column.  Calling insert_at(1) on a model instance (that was at position 5, e.g.) works fine in Mysql, but in PostgreSQL, it caused error:

   ActiveRecord::StatementInvalid: PGError: ERROR:  null value in column "

[2011-07-29 20:48] MattRogish opened #10 "MySQL: Position column MUST NOT have default"
If I set my position column to have default 0 in MySQL, then acts_as_list does not work. If I change the SQL table to drop the default, then acts_as_list works fine. This should be documented somewhere, as the older "official" one worked fine with the default 0 until we upgraded to this one.

Thanks,
##

Matt

[2011-08-03 17:26] ayamomiji opened #11 "don't work perfectly with default_scope"
when i set `default_scope order: 'position asc'` in model, will make some function dont work correct like `move_to_bottom`.

`move_to_bottom` uses `position desc` to get bottom item position, but order position in default_scope will overwrite it.

maybe use max or count function to get bottom item position is better?

[2011-08-11 15:31] #10 closed, assigned to swanandp

[2011-08-15 11:47] #8 closed, assigned to swanandp

[2011-08-25 06:16] holden opened #12 "acts_as_list :scope => "doesnt_seem_to_work""
I'm trying to use acts_as_list in combination with has_ancestry, but when I apply a scope it returns this:

Code:  acts_as_list :scope => "ancestry" #string column

Returns:

ActiveRecord::StatementInvalid in FaqsController#create

PGError: ERROR:  argument of WHERE must be type boolean, not type character varying
LINE 1: SELECT  "faqs".\* FROM "faqs" WHERE (ancestry) ORDER BY posit...

[2011-08-25 06:52] #11 closed, assigned to nobody

[2011-08-25 06:54] #12 closed, assigned to nobody

[2011-09-19 23:08] brendon opened #16 "New gem release"
Hi there, is there any chance of getting the latest changes released as an updated gem?

Cheers,

Brendon

[2011-09-20 05:41] #16 closed, assigned to nobody

[2011-10-12 12:41] piccio opened #17 "decrement_positions_on_lower_items method"
I found an odd behaviour when destroing a list item. when it's invoked decrement_positions_on_lower_items method al the lower items' position are set to deleted item's position. for example:

[ < Item id:1, position: 1 >, < Item id:2, position: 2 >, < Item id:3, position: 3 >, < Item id:4,  position: 4 > ]

if I delete the item with id = 2 the resulting list is:

[ < Item id:1, position: 1 >, < It

[2011-11-04 14:24] chief opened #19 "Update position when scope changes"
In update, position remains the same when scope changes. I think that a solution should be to trigger `add_to_list_bottom` but I can't think of any global way, especially in complex scope cases. When it is just a field I use something like this

[code]

Is there a better way?

[2011-11-08 21:04] gthiruva opened #20 "Change bundler dependency from ~>1.0.0 to ~>1.0"
The bundler dependency needs to be updated to play nicely with the forthcoming bundler 1.1. Actually, I'm not sure if bundler even needs to be a dependency for this project. So maybe, the line can just be taken out entirely.

[code]

[2011-11-14 17:49] demery opened #21 "increment_positions_on_lower_items called twice on insert_at with new item"
I found unexpected behavior when I call `insert_at(position)` on a new item (as is shown in the `test_list.rb` in the gem). If I insert a newly created (and not yet saved object), `increment_positions_on_lower_items` gets called twice, so that given positions `[1,2]`, `new_object.insert_at(2)` results in positions `[1,2,4]`.

See the following:

[code]

Note that two update calls are made to do th

[2011-11-16 12:59] nortcele opened #23 "position not updated with move_higher or move_lover"
I have a strange behavior with acts_as_list, Rails 3.1 and Ruby 1.9.2p290.

Steps to reproduce
- Create a test application
  rails new asl_test
  cd asl_test
- Add

gem 'acts_as_list', :git => 'https://github.com/swanandp/acts_as_list.git'

in gemfile.
- Update gems

bundle update
- Generate a model
  rails generate model Hand side:string
- Generate a second model
  rails generate model Finger pos

[2012-02-13 17:21] jan opened #26 "Feature: sort"
I would love to see a sort function in acts_as_list. It would rewrite all positions according to the returns of a sort block, without - of course - triggering any duplicate key issues.

[2012-02-24 08:30] #17 closed, assigned to nobody

[2012-02-24 08:39] #20 closed, assigned to nobody

[2012-02-24 08:48] #21 closed, assigned to nobody

[2012-02-24 11:59] #23 closed, assigned to swanandp

[2012-02-27 06:20] ghost opened #28 "add info about v0.1.5 require Rails 3"
I tried upgrading to 0.1.5 in my 2.3 app and received a `NoMethodError 'unscoped'` error.

`unscoped` was introduced in Rails 3.

v0.1.4 list.rb line 213

[code]

v0.1.5 list.rb line 225

[code]

It should probably be noted in the README that 0.1.5 require Rails 3 and up.

(e)

[2012-02-27 08:06] #28 closed, assigned to nobody

[2012-03-04 05:50] robotex82 opened #29 "Duplicates created when using accepts_nested_attributes_for"
I'm having exactly this issue: https://github.com/rails/acts_as_list/issues/3

When using accepts_nested_attributes_for and a scoped acts_as_list statement, I get duplicate positions.

Any ideas how to fix that?

Best regards,

Roberto

[2012-03-06 15:05] jmbejar opened #31 "Duplicated positions when creating parent and children from scratch in 0.1.5"
I have a problem after upgrade to 0.1.5.

[code]

Creating the parent and the children from scratch generate odd values for positions (sometimes the same repeated value). It used to work fine with 0.1.4 (I'm using rails 3.0.10)

As far I checked it was broken after move the move_to_bottom callback to a before_validation callback, it worked with 0.1.4 because move_to_bottom was a before_create call

[2012-03-16 02:11] dtaniwaki opened #32 "eval mistakenly resolved the module path"
Hi

I found acts_as_list doesn't work well with enumerize gem 'https://github.com/twinslash/enumerize' because eval resolve incorrect module path.

In "lib/acts_as_list/active_record/acts/list.rb"

[code]

The module path can not resolved correctly in eval in some situations.
Could you just fix it like below?

[code]

[2012-03-29 07:11] #32 closed, assigned to nobody

[2012-04-07 15:44] d13r opened #34 "Order is reversed when adding multiple rows at once"
Using code similar to this:

[code]

The items get inserted into the list in reverse order.

This is because `before_validation :add_to_list_bottom` is run for _all_ rows before _any_ row is saved, so they all get position set to 1. Then each item that is saved causes the ones before it to be pushed further down the list.

[2012-04-19 09:57] #31 closed, assigned to swanandp

[2012-04-19 09:58] #34 closed, assigned to nobody

[2012-06-29 19:30] jamesy829 opened #40 "Ability to move multiple at once"
Hi, I have encountered an issue when building a list of choices and the ability to order then according to the user.

I am currently able to order each choices individually, but I was wondering if there was an ability to do a batch order, so something on the lines of:

C1 - Choose
C2 - Choose
C3 - Choose
C4

If someone decide to move up base on that selection, the list would be broken. It would be

[2012-07-13 20:35] cdcdcd123 opened #41 "when position is null all new items get inserted in position 1"
I'm using 'remove_from_list' and a deleted_at attribute to remove items from list. The problem is that when creating a new record, if there are other records in the list with position of null, all new records get set to position 1. A workaround I've used is to set a default scope of :conditions => (:position ^ nil), but it seems to me at least, that the private method 'bottom_item' should have a d

[2012-07-26 23:02] soffes opened #44 "Remove use of update_attribute"
Calling `move_to_bottom` causes the following warning:

[code]

[2012-07-27 19:53] #44 closed, assigned to nobody

[2012-07-30 21:51] IamNaN opened #48 "Cannot update to version 0.1.7"
In a rails 3.2.7 app running on ruby 1.9.3p194, I have `gem 'acts_as_list', git: 'git://github.com/swanandp/acts_as_list.git'` in the Gemfile.

Running `bundle outdated` tells me:

[code]

Running `bundle update` does not update the version to 0.1.7. To be thorough, I have performed these steps:
-  removed acts_as_list from my Gemfile
-  run `bundle install`
-  run `gem uninstall acts_as_list`
-

[2012-08-07 20:40] venomizer opened #49 "validates error"
I don't know if it is an issue with acts_as_list or just my code but i ran into the problem that if i have a validates :uniqueness on the position column, an error would come up when creating a new list_item saying that the position was not unique. I removed the validation and my app works fine now but thought it might be worth mentioning.

[2012-08-11 03:18] soffes opened #50 "Mass-assignment issue with 0.1.8"
I upgraded from 0.1.7 to 0.1.8 and I'm not getting a mass-assignment error. With 0.1.7 I get

[code]

with all tests green. Under 0.1.8 this goes away (yay! ) but now I get this:

[code]

[2012-09-25 01:54] xanview opened #52 "Mongoid support?"
Would be great to have mongoid support in this :)

[2012-09-26 15:24] vnguyen13 opened #53 "Use alternative column name?"
is there a way to use this with a column that's not named "position"? I have tables that have already existed and I was hoping to be able to specify this per use. For instance, I have an "order" column instead.

[2012-09-26 15:31] #53 closed, assigned to nobody

[2012-09-26 16:15] vnguyen13 opened #54 "Mysql2 error"
Hi again, I'm getting a errors when I go to create a new item or when updating an item.

I have 8 items, their order starts with 0 and goes to 7. When I go to create a new item and hit create, I actually get a routing error:

[code]

When I go to update an item, this comes up when I hit Update:

[code]

I'm running rails 3.2.8. Have you seen this before?

The item does get does get created. It jus

[2012-09-26 18:08] #54 closed, assigned to nobody

[2012-09-26 18:56] vnguyen13 opened #55 "Adding multiple creates strange ordering"
I'm now onto an object (license) that has_many of a certain object (progress_point). When I go to add multiple progress points to a license, it gives me mixed results.

The first time I ran it, it gave my progress points "position" (called sequence) values of 1, 2, and 3.

Second time, it ordered my items as 3, 2, 1.

The third time: 1, 3, 2.

[code]

[code]

Any ideas on why it would do this?

Al

[2012-10-25 09:16] shaileshkalamkar opened #57 "move_lower and move_higher not working returning nil"
Hi,

I am using Rails 3.2.6 application with  acts_as_list(0.1.6)  gem included in my Gemfile.

I have the code as follows

[code]

I have position(integer) column in the product_stores table . But the move_lower and move_higher functions does not work  returning nil and the product is not moved to any position without updating the position. e.g

[code]

Hw to resolve it ?

[2012-12-07 10:02] randomizor opened #61 "Limiting the list size"
Would it be possible for there to be a way to limit the size of the list you can have? For example, if I have 100 items and try to set two items as item #100, the previously set one should go down to 99 (and this should trickle down the rest of the list)?

[2013-01-10 23:04] gogolok opened #68 "introduce Changelog file to quickly track changes"
It's hard to get a quick overview what has changed between version 0.1.8 and 0.1.9.
It would be nice to have a Changelog file.

[2013-03-06 05:28] #41 closed, assigned to nobody

[2013-03-14 15:54] andyw8 opened #76 "Duplicate positions and lost items"
We're using acts_as_list in an Ajax UI to allow users to re-order items in a list by dragging and dropping items.

If the user drags and drops a few items in quick succession, this can lead to items being lost and duplicated in the list, e.g. "Item A, Item B, Item C" becomes "Item A, Item C, Item C".

It seems the gem doesn't cope well with overlapping operations, and there is no locking. There do

[2013-03-18 14:52] dellch opened #77 "move_higher/move_lower vs move_to_top/move_to_bottom act differently when item is already at top or bottom"
If trying to move an item higher when it is already at the top of list (via move_higher), the return is nil (because it checks for higher_item).  But a move_to_top method only checks if the item is in_list?.

(move_lower and move_to_bottom act the same way)

Shouldn't these two groups of methods either both return nil or both be successful?  Either would make sense, but the inconsistency doesn't m

[2013-04-25 12:10] kdelchev opened #83 "act_as_list didn't install with bundle install"
Added gem 'act_as_list' to my Gemfile. bundle install gives this error
`Could not find gem 'act_as_list (>= 0) x86-mingw32' in the gems available on this machine.`
Using Ruby1.9.3, Rails 3.2.13 on Windows 7 64bit environment. Bundler is version 1.2.3

[2013-04-25 12:36] #83 closed, assigned to nobody

[2013-05-06 11:46] mattheworiordan opened #84 "ActiveRecord dependency causes rake assets:compile to fail without access to a database"
When I include the gem `acts_as_list` in my Gemfile, intentionally change my connection string for PostgreSQL database to an invalid DB, and run `rake assets:precompile`, I receive an ActiveRecord error.  It appears that acts_as_list tries to connect to the database at all times, even during asset compilation.

If you refer to the Heroku post at https://devcenter.heroku.com/articles/rails-asset-pi

[2013-05-16 05:37] #48 closed, assigned to nobody

[2013-06-29 22:03] LoveIsGrief opened #86 "has_many :through or has_many_and_belongs_to_many support"
Hello,

I have not been able to work out how to make this work with a has_many :through association.

The easiest example I can think of is Playlists have many Songs and Songs belong to many Playlists. The position would have to be added to the intermediary table, because the position can be different in different playlists.

Does this gem support those associations?

[2013-08-10 16:01] philippfranke opened #88 "Performance Improvements"
Acts_as_list hits the database a lot when moving items. I like the concept used by https://github.com/mixonic/ranked-model :

What do you think? Should we change it?

[2013-09-18 04:25] matteomelani opened #92 "Creating an item with a nil scope should not add it to the list"
Thank for this great gem.
I have a quesiton/issue related to default scope. Thanks for any help.
[code]
But collection_id is null.

This is creates a huge performance problem because every time I create  a NewContent it is going to add to the list of item with collection_id set to null.

[2013-11-12 09:59] ldonnet opened #95 "has_many :through with acts as list"
I want to use your acts as list gem with these models :

[code]

[code]

[code]

But when I use the scope of acts_as_list an exception is raised :

[code]

Should we use this gem in a special way with has_many :through relations?

Best Regards
Luc Donnet

[2013-11-24 05:40] skv-headless opened #96 "Shuffle list"
In my project I've got shuffle feature. I can make pull request if anyone like it.

[2013-11-29 23:45] ludwigschubert opened #97 "Enhancement: Expose scope object"
A `acts_as_list` object should expose its scope object/parent.

I'd love to patch and submit a pull request for this myself, but I'd like to discuss naming options, possible alternative solutions, and whether this is a sensible idea at all with you guys first.

### Workaround

I `#send` a substring of the scope name to the object
[code]

### Why?

This would allow to create awesome nested paths wi

[2013-12-05 03:59] mergulhao opened #99 "Bug when use #insert_at on an invalid ActiveRecord object"
Hi,

I found something that seems to be a bug.

If I have an invalid ActiveRecord object (`record.valid? => false`) and calls `record.insert_at(new_position)`, it updates all other records using `#shuffle_positions_on_intermediate_items`. But to save the current record it uses `#set_list_position` method that calls `#save!`on the record. Causing the save to abort since the record is invalid and le

[2013-12-07 14:21] #29 closed, assigned to nobody

[2014-01-16 09:13] csaura opened #103 "Create element in default position"
When I try create a new element in the default position create it at the bottom of the list.

Example:

[code]

How can I create a new element forcing the default position?

[2014-02-09 19:18] USvER opened #106 "Scope for Polymorphic association + ManyToMany"
I have this setup: "Topic" and "Comment" has many "Assets" through polymorphic join table.
I want my topics and comments to have their assets ordered. To make my act_as_list work for Topics and Comments separately it should use default scope. How to do that?

[2014-02-21 15:55] volontarian opened #108 "insert_at creates gaps"
I am using version 0.3.0 and want this feature.

Given

[code]

When

[code]

Then

[code]

But I got

[code]

[2014-02-22 18:49] #40 closed, assigned to nobody

[2014-02-22 18:50] #49 closed, assigned to nobody

[2014-02-22 18:51] #50 closed, assigned to nobody

[2014-02-22 18:54] #57 closed, assigned to nobody

[2014-02-22 19:53] #108 closed, assigned to nobody

[2014-02-22 20:07] #99 closed, assigned to nobody

[2014-03-14 09:58] neutralino1 opened #109 "Problem when inserting straight at top of list"
Hi all,

Let's define
[code]
Say I do
[code]
Everything works as expected :
[code]
`p_2` replaces `p_1` at the top of the list and `p_1` gets pushed down.

However, if I start again with `nil` positions and do
[code]
Then I end up with
[code]

I think the problems stems from the `update_positions` [method](https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/lis

[2014-03-15 18:56] USvER opened #110 "position: 0 now makes model pushed to top?"
After update i got weird issues with sorting.
After investigation i have found that new items got pushed to top, and not to bottom as described...
So model with position: 0 results into position: 1.
Is this new behaviour, or i have some issues in my code? Maybe with scope(i have scope on multiple fields) but how it relates to this?

[2014-03-20 19:00] jrdaniels opened #112 "Batch setting of position"
I have a issue when trying to batch assign the position of elements in a list, and then when the items are saved, the order gets duplicated in the middle of the list.

I have a category model, a product model, and a category_product_mappings model.  Acts as list is on the mapping model to manage the order of the products in the category.

The category model has:
accepts_nested_attributes_for :cate

[2014-04-22 00:10] vietqhoang opened #117 "Using insert_at with values with type String"
* Rails 4.0.4
* Ruby 2.1.1
* simple_form gem

For model `Foo`, inserting at say `position` utilizing strong parameters yields

Parameters for my case are passed as String. To get it to insert, I must convert the parameter `position` to type Integer. I accomplished this in the `foo_params` method.

What's the feasibility of having the (String|Integer) => Integer conversion included in the insert_at

[2014-04-25 14:17] skahlert opened #118 "Relationships with dependency:destroy cause ActiveRecord::RecordNotFound"
For more details see this page:
http://stackoverflow.com/questions/17695206/dependent-destroy-with-acts-as-tree-and-acts-as-list

[2014-05-20 02:39] brendon opened #120 "Rails 3.0.x in_list causes the return of default_scope"
I've come across this problem in the process of upgrading a Rails 2.3 app. I'm currently moving it to 3.0 and then onwards.

In Rails 3.0 there seems to be an issue where if you call Mode.unscoped.in_list (or perhaps any scope), the unscoped is overridden and the default_scope will still be applied. This causes problems when trying to calculate the bottom of the list when there is a default_scope

[2014-05-29 08:47] alvinsj opened #122 "self.reload prone to error"
this issue is referring to this [line of code](https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L445).

I noticed active_record model is more or less destroy-safe. Meaning the children/parents of a model(e.g. dependent: destroy) can destroy the referring model, yet if model.destroy got called again before commit, it won't fail.

however, this self.re

[2014-05-31 22:58] jonasschneider opened #124 "Unexpected behaviour when inserting consecutive items with default positions"
Environment: Suppose `Item` has `acts_as_list` and a position column with default of 0.
1. Insert an item A into the list. (`a = Item.create!`)
2. Insert another item B into the list. (`b = Item.create!`)

Expected behaviour: `a.position == 1`, `b.position == 2`

Actual behaviour: `a.position == 2`, `b.position == 1`.

I believe the culprit is https://github.com/swanandp/acts_as_list/commit/3ebaff

[2014-06-07 13:25] axhamre opened #125 "How to exclude objects to be positioned?"
I have a Rails app where a Category has many Post.

`scope: :category` in the Post class is automatically giving position to posts withing the same category.

How could I exclude posts that has the attribute `published`set to `false` to be part of the positioning?

[2014-06-10 09:19] #125 closed, assigned to nobody

[2014-06-12 08:28] richardrails opened #126 "changing parent_id does not update item positions"
I have this tree:

parent_id: 1
- item A position 1
- item B position 2
- item C position 3

parent_id: 2
- item D position 1
- item E position 2
- item F position 3

when I change parent_id attribute at item A: parent_id = 2 and save, it does not recalculate item positions of all lists! I get this lists after save:

parent_id: 1
- item B position 2
- item C position 3

parent_id: 2
- item A posit

[2014-06-12 10:38] #126 closed, assigned to nobody

[2014-07-02 20:21] Undistraction opened #127 "Add Support For Multiple Indexes"
For example:

I have a Gallery that has_many Photos. Each photo needs an `position` so they can be ordered by hand, for which `acts_as_list` works great.

However, each photo can be flagged as featured, and a user can order featured photos as well. In this situation a second set of instance methods and separate `position` is needed that will store and allow manipulation of the photo when in the co

[2014-07-02 20:24] #127 closed, assigned to nobody

[2014-08-01 21:41] #19 closed, assigned to swanandp

[2014-09-22 08:17] #95 closed, assigned to nobody

[2014-10-01 10:54] #106 closed, assigned to nobody

[2014-10-09 18:37] fabn opened #131 "Issue when reordering within scopes"
I'm using this gem in conjunction with [ancestry gem](https://github.com/stefankroes/ancestry) in the following model:

[code]

However I found an edge case with this usage (suggested by [ancestry wiki](https://github.com/stefankroes/ancestry/wiki/Integrating-with-acts_as_list))

Given that every list is scoped to the ancestry column (i.e. siblings nodes are in the same list), when I move a node w

[2014-10-13 12:36] east2dd opened #133 "I want to have my existing records works like list"
At first, thanks for this gem, It saved my time.
It looks like working well with new records, new records has its position value.

Is there anyway that I can set position values by created_at field for the existing records?
I think that it could be rake task.

rake acts_as_list:index

Thanks.

[2014-10-19 04:28] jordansinger opened #134 "shuffle_positions_on_intermediate_items is creating problems"
I have a case that is causing problems any time an object is updated.

Say I have an array of skills in an HTML form. Anytime I update the very first skill and send it to the server, it moves down 1 position. This is the query that is ran:

[code]

The query above is moving the first item in the array of skills down one, which is very frustrating. Please help.

[2014-10-23 08:03] #133 closed, assigned to nobody

[2014-10-29 21:30] brendon opened #136 "Release a new gem version"
Hi @swanandp, I'm keen to release a new gem version with the fixes committed since the last version was released 8 months ago. I can do this if you like, and if that's ok with you, could you post instructions on upgrading the gem version for this specific repo in the Wiki?

[2014-10-31 21:03] #136 closed, assigned to nobody

[2014-11-06 08:09] murugan-r opened #137 "Problem when updating an position of array of AR objects."
I have an array of ActiveRecord Object and position. I need to update position of each AR object by iterating an array.

Problem when updating first AR object , it changes the position of all other positions and so. I end up doing via update_column but i have callbacks that needs to be trigger.

Is there any way to update position without reordering an position of other AR object at the same time

[2014-11-10 20:37] k1w1 opened #138 "Changing scope is inconsistent based on add_new_at"
If `add_new_at` is set to `bottom` then items moved into a list because of scope changes are added at the requested position. If `add_new_at` is set to `top` then the items are always added at the top, regardless of the requested position.

This is important when you have a grid of items and want to support dragging between lists. In our use-case it makes more sense for `add_to_list_top` to work t

[2014-12-20 06:36] ksylvest opened #143 "Deprecation Warning: sanitize_sql_hash_for_conditions is deprecated and will be removed in Rails 5.0"
After upgrading to Rails 4.2 I started noticing this:

[code]

It only occurs when a scope is applied to `acts_as_list` like so:

[code]

[2014-12-20 19:30] #143 closed, assigned to nobody

[2014-12-23 15:08] rexmadden opened #144 "Rails 4.2 sanitize_sql_hash_for_conditions is deprecated, and will be removed in Rails 5.0"
Upgraded to Rails 4.2 and there were a bunch of deprecation warnings about scopes. I'm using acts_as_list with Ancestry:

acts_as_list scope: [:project_id, :ancestry]

in Rails 5.0
         . (called from scope_condition at (eval):40)
/gems/activerecord-4.2.0/lib/active_record/sanitization.rb:90:in `sanitize_sql_hash_for_conditions'
(eval):40:in `scope_condition'
/gems/acts_as_list-0.5.0/lib/acts_

[2015-01-01 01:08] gogolok commented on #68
+1

[2015-01-08 07:03] jordansinger commented on #134
@swanandp I've actually found out when it triggers. So this bug only happens when you add 2 or more experiences, then reorder any of them. See here: https://www.dropbox.com/s/p8x3yiqhnlxszt1/Reorder%20bug%20demo.mov?dl=0

[2015-01-12 21:06] jordansinger commented on #134
@swanandp Any idea? Thanks!

[2015-01-12 23:47] botandrose opened #145 "Can no longer load acts_as_list in isolation if Rails is installed"
Hello, thanks for maintaining acts_as_list!

I like to unit test my models in isolation from rails, but this is no longer possible if the model depends on acts_as_list, since `require 'acts_as_list'` now requires rails, as of https://github.com/swanandp/acts_as_list/pull/114 . Simplest solution would be to revert the PR, but it'd be nice to get the best of both worlds. Could we replace `require 'r

[2015-01-13 11:26] eagletmt commented on #145
You mean,

- you have rails in your Gemfile (i.e., you can do `require 'rails'` successfully),
- but you won't do `require 'rails'` while unit-testing models.

right?

[2015-01-13 13:50] botandrose commented on #145
Correct. The app is a Rails app, but I unit test the models in isolation, only loading direct dependencies like ActiveRecord and acts_as_list. This gives me sub-second responses from my unit tests, and design feedback from the tests about # of dependencies, etc.

[2015-01-14 08:45] amatsuda commented on #145
@botandrose Sorry for slowing down your tests, but I'm curious, how would you execute your Rails app tests without bundling rails?
Don't you `bundle exec` when you run them?
Can the test results be reliable enough where the environment is that much different from the production env?

[2015-01-14 09:10] botandrose commented on #145
Hi, @amatsuda! Most of my Rails apps have two separate test suites: a high-level acceptance test suite, and a low-level unit test suite. Both suites are pushed as far as possible in their respective directions, and yield very different benefits.

The acceptance tests are as high-level as possible, so they boot Rails, load all the dependencies, and test the happy path through every feature in a bla

[2015-01-14 10:34] amatsuda commented on #145
@botandrose Thank you for explaining clearly! Although I don't follow your practice, I do understand what you're aiming at. Just made a comment to your PR #146.

[2015-01-14 12:07] #145 closed

[2015-01-15 00:17] afn opened #148 "In 0.6.0, models using STI are not unscoped correctly"
[code]

With 0.5.0, it prints:

[code]

which is what I would expect.

[2015-01-15 00:45] afn commented on #148
Never mind -- I see now that #147 fixes this.

[2015-01-15 00:45] #148 closed

[2015-01-16 15:30] dmarkow opened #149 "Project Documentation link redirects to expired domain"
http://swanandp.github.io redirects to http://info.pagnis.in/, which expired yesterday.

[2015-01-16 15:52] jasonsof opened #150 "insert_at doesn't seem to be working in ActiveRecord callback (Rails 4.2)"
Trying to reorder a list inside of an after_create callback doesn't seem to do any reordering.  I created a little example with an rspec test in it.

https://github.com/jasonsof/acts-as-list-example

Is this normal, or am I doing something wrong here?

[2015-01-16 16:23] brendon commented on #150
Hi Jason, There's an option you can pass to your acts_as_list call `:add_new_at => :top which should do what you're trying to do. It's not documented I don't think, but the code is here:

https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L38

[2015-01-16 17:08] jasonsof commented on #150
Thanks Brendon, that option was exactly what I needed!

[2015-01-16 17:50] brendon commented on #150
You're welcome :) I've found altering the current record in after_creates
is always a hassle. There always seems to be some unforeseen consequence.
Better to override the attribute setter or something like that instead (not
in this case though!).

Brendon Muir

On Fri, Jan 16, 2015 at 11:08 AM, Jason <notifications@github.com> wrote:

[2015-01-16 20:28] chadmmills commented on #134
@jordansinger I was having the same issue while using the jQuery sortable library when sending the position in an ajax request which would serialize the ids into an array and then use the index of the array to save the position. This is incorrect because acts_as_lists seems to be one-based and the array index is zero based.  Assuming you are attempting the same, this is how I was able to fix it.

[2015-01-17 06:27] swanandp commented on #149
Oh goodness. Thanks for noticing!

[2015-01-19 21:41] jordansinger commented on #134
@chadmmills This seems like the fix! Where did you put both of those respective blocks of code?

[2015-01-22 14:57] chadmmills commented on #134
@jordansinger I put the params related piece in a separate controller method, only for  updating the position.

Check out Ryan Bates Railscast episode for a good tutorial on this functionality. http://railscasts.com/episodes/147-sortable-lists-revised

[2015-01-22 15:59] fabn commented on #68
@swanandp, you should really consider this. I've just updated my bundle and I got couple of tests failing and I don't know why. For the moment I've pinned aal to version 0.4.0, then I'll use github diff tool to find what's changed in range `0.4.0..0.6.0` but this is really painful.

Please take care of us :pray:

[2015-01-22 16:42] swanandp commented on #68
Yup, I've been negligent on this so far.  But no more.  I'll see if I can do retrospective changelog.

[2015-01-27 17:27] afn opened #153 "Position is set incorrectly when circular dependencies exist"
We saw some unusual behavior in our system, where items were being incorrectly reordered by `acts_as_list`.  It seems that in order to reproduce the bug, you need a relatively complex set of associations, and the list needs to be scoped.  See the failing test case below...

[2015-01-27 17:32] afn commented on #153
With activerecord 4.1.2 .. 4.2.0, it fails like this:

[code]

With activerecord 4.1.1 or earlier, it passes.

[2015-01-27 17:41] afn commented on #153
Here are the queries it runs with activerecord 4.2.0 (failing):

[code]

And with 4.1.1 (passing):

[code]

[2015-01-27 19:30] afn commented on #153
This is starting to look more like an ActiveRecord bug rather than an acts_as_list issue.  It appears that `Cat` is being updated (unnecessarily and incorrectly) immediately after being created.  I'm working on reproducing the issue without using acts_as_list; if I manage to do so, I'll close this one.

[2015-01-27 22:47] afn commented on #153
I believe the reason this bug surfaced in our application is related to https://github.com/rails/rails/issues/18704, but there's still an issue with acts_as_list in the case where there's truly a circular dependency (and therefore the `save` call can't avoid `UPDATE`s).  I've committed a test case which fails even on Rails < 4.1.2: https://github.com/amitree/acts_as_list/blob/7d4ff108728e6349e17a9

[2015-01-29 21:41] afn commented on #153
I think the fundamental issue here is that when the caller inserts an element in a list at a specific position outside of the range `[1..n+1]`, where `n` is the number of items currently in the list, then the shuffling logic doesn't quite do the right thing.  In the above failing test case, what'

[2015-01-30 03:53] swanandp commented on #153
Thanks for the detailed debugging, I'll go through this today.

[2015-02-05 10:52] mcmegavolt commented on #117
:+1:

[2015-02-05 11:10] mcmegavolt opened #154 "Problem with reordering scoped list items"
Can you help me guys to figure out how to reorder list items within scope, here my models:
[code]

So, I need reorder list items within draft_items and final_items separately.

When I try to do this:

[code]

It makes global **items** reordering outside my scope among all plan items.

How to resolve this? Thanks!

[2015-02-06 14:03] swanandp commented on #154
@brendon @philippfranke Any chance you can take a look? I am going to be away for a while.

[2015-02-08 20:10] brendon commented on #154
Hi @mcmegavolt, acts_as_list removes any existing scoping before applying its own scope:

https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L224

You'd have to utilise the `:scope =>` feature to scope your list. I think the scope can be something like:

`acts_as_list scope: :plan, :draft`

I hope that helps.

[2015-02-08 23:48] mcmegavolt commented on #154
Thank you for responding!

I need sort items separately, with ```draft = true``` and ```draft = false``` but never for all plan items, only for those two cases.

```Plan``` has many ```Items``` but I want to sort item.draft: true/false separately.

I use jQuery for sorting two tables (Plan items where draft is true and false) on one page by dragging rows and send Ajax request to sort them.

So, I

[2015-02-09 01:26] brendon commented on #154
Thanks @mcmegavolt, that will work well with the `scope` feature of acts_as_list. You're basically scoping the list on both the parent `:plan` and also the `:draft` column. So aal will maintain a separate list for each plan's draft and non-draft items. You might have to do `:scope => [:plan_id, :draft]' but just experiment. The scoping code is at the beginning of the aal source code and you can se

[2015-02-09 18:41] mcmegavolt commented on #154
Yes! ```:scope => [:plan_id, :draft]``` is working!
I sincerely thank you for your help!
You are doing a good job, thanks!

[2015-02-09 21:22] brendon commented on #154
You're most welcome! :)

Brendon Muir

On Tue, Feb 10, 2015 at 7:41 AM, Aleksandr <notifications@github.com> wrote:

[2015-02-09 21:22] #154 closed

[2015-02-12 17:51] mhenrixon commented on #153
:+1:

[2015-02-12 19:57] arnaudl opened #155 "Inconsistent behaviour between Symbol and Array scopes"
Hello,

When a symbol is passed to an association, [the scope column is inferred from the symbol](https://github.com/swanandp/acts_as_list/blob/f775b52af105f0bb470ce7facf96c0ec0c26d31d/lib/acts_as_list/active_record/acts/list.rb#L41):

[code]

[code]

=> will give a scope on "todo_list_id"

If the scope is an array, the name passed as an argument is used, without adding the _id suffix:

[code]

=>

[2015-02-24 15:17] avdept opened #156 "Fill old data with position numbers"
Is there any ready to use rake task or script, that would populate data that has been created without using this gem with some position numbers?

[2015-03-09 13:24] mtomov opened #158 "`scope_changed?` problem with acts_as_paranoid"
Hello,

Having both `acts_as_list` and `acts_as_paranoid` on a model with
`    acts_as_list scope: [:taxon_id, :deleted_at]`

.. when I call `destroy` on an element from a list, I get a gap in the list of items instead of having the items below the deleted ones go a position up.

Here is the source of the problem:

[code]
If you pay attention to the last but one line ` "spree_suites_taxons"."delet

[2015-04-17 08:37] fschwahn commented on #76
This issue still happens - we have a frontend where several records for a model can be created at once, which results in separate queries to the create action of the respective controller. Some records have the same position when the queries overlap. This could also occur in environments were lots of users create records concurrently.

I just looked quickly at the code, and it seems there is no lo

[2015-04-22 03:41] thefron commented on #92
I'm facing this issue too.
I need something like complete disable of ordering when scope id is nil.

[2015-04-30 01:26] brendon opened #160 "Release a new gem version"
Hi Swanand, I've just bumped into the STI problem introduced in the last gem version. I think we should release a new gem version given the bug is pretty insidious (took me a while to figure out what was going wrong).

Sound good? :)

[2015-04-30 13:24] swanandp commented on #160
Sure :+1:

[2015-04-30 13:24] swanandp commented on #160
Do you have a test case we can add to the suite ?

[2015-04-30 20:46] brendon commented on #160
I think the bug fix already has updated test cases to catch the regression that was introduced, so we just need to release the gem version unless you think it needs more coverage. It looks good to me though, and I've tried the master branch out in my app and it fixed the problem. :)

[2015-04-30 22:25] npearson72 opened #161 "Model.find being called twice with acts_as_list on destroy"
I have a Category model that uses acts_as_list.

In my controller, I'm calling `Category.find(params[:id])`

When I try to run my tests, for some reason `.find` is called twice.

When I remove the `acts_as_list` method from my Category model, it works fine.

For more context, please refer to my rspec mocks issue:

https://github.com/rspec/rspec-mocks/issues/939

Any ideas?

[2015-04-30 22:29] npearson72 commented on #161
Just following up. Seems there's a `destroy` callback that's triggering another find. When I call `delete` this problem does not happen.

Does this help?

[2015-04-30 22:33] npearson72 commented on #161
Seems this is being caused in:

`lib/acts_as_list/active_record/acts/list.rb`

Line 477

`#reload_position` is calling `#reload`

Does this need to call `find`? Seems odd.

[2015-05-01 05:04] swanandp commented on #160
Great, then. :shipit:

[2015-05-01 05:08] swanandp commented on #161
@npearson72 `ActiveRecord::Base#reload` will call `find` internally.

As a general advice, I'd recommend changing your test slightly to assert that `find` is called *at least* once, instead of *exactly* once. Otherwise you are testing implementation, and not behaviour.

[2015-05-01 09:31] brendon commented on #160
Thanks Swanand, just released 0.7.0.

[2015-05-01 09:31] #160 closed

[2015-05-01 20:22] npearson72 commented on #161
Ok, thanks. But are you saying this isn't an issue?

[2015-05-06 23:07] Albin-Willman opened #162 "Unable to run tests"
I forked the repo today and figured I would like to get to know the code since we are evaluating if we might want to use this gem.

How ever I am unable to get the tests to run. I get the following error when I run `bundle exec rake test`:

[code]

Does any one recognise this?
So far I tried it with ruby 1.9.3, 2.1 and 2.2 and all have yielded the same output.

My debugging up to this point.

* Th

[2015-05-07 06:09] Albin-trialbee commented on #162
Found out what the problem was. I was running `activerecord-4.0.13`. `enum` was defined in rails 4.1

Should I leave this open?

[2015-05-17 17:50] Albin-trialbee commented on #161
This is not an issue, it is necessary in order to be certain that the positions are correct after the destroy is done.

[2015-05-18 07:43] burnzoire commented on #131
I can confirm this issue exists. I've applied @fabn 's fix as a temp monkey patch and can confirm it resolves the issue. Waiting for PR to be resolved.

[2015-05-27 23:41] giovannibonetti commented on #156
In your migration you can do something like this, assuming:
- you are using Postgres
- the order you want to start with is alphabetical (column "name")

[code]

[2015-06-08 13:49] pradeekyahvi opened #164 "ArgumentError (comparison of String with 1 failed): error"
I am getting error in acts_as_list v 0.7.2 like

Parameters: {"utf8"=>"✓", "authenticity_token"=>"VB82KaxZpXwkpytX6tI0BMhFMvAZ3KeIsjpLKC9VZf/LL1P1IqzHTQNeEb+Az5WVbztGA8IbftN3Gqqe/MNTjg==", "section"=>{"page_id"=>"2", "name"=>"werewrewrewr", "position"=>"1", "visible"=>"1", "content_type"=>"text", "content"=>"ASDASDASD"}, "commit"=>"Create Section", "page_id"=>"2"}
  Page Load (0.2ms)  SELECT  `pag

[2015-06-10 00:27] brendon commented on #164
Hi @pradeekyahvi, can you provide more of a stack trace? We need to know where the error is occurring.

[2015-06-13 18:29] pradeekyahvi commented on #164
acts_as_list (0.7.2) lib/acts_as_list/active_record/acts/list.rb:484:in `<'
acts_as_list (0.7.2) lib/acts_as_list/active_record/acts/list.rb:484:in `check_top_position'
activesupport (4.2.1) lib/active_support/callbacks.rb:432:in `block in make_lambda'
activesupport (4.2.1) lib/active_support/callbacks.rb:164:in `call'
activesupport (4.2.1) lib/active_support/callbacks.rb:164:in `block in halting'

[2015-06-15 02:04] brendon commented on #164
Ok so it's this line:

`if send(position_column) && !default_position? && send(position_column) <
acts_as_list_top`

I'm going to guess that you have some configuration around `:top_of_list`
or `:column` that might no longer be working. Can you share your
acts_as_list declaration, and if you're overriding `position_column` or
`acts_as_list_top` in your class?

Cheers,

Brendon Muir

On Sun, Jun 14

[2015-06-19 11:27] pradeekyahvi commented on #164
please check my source code at

https://github.com/pradeekyahvi/simple_cms/blob/master/app/models/subject.rb
https://github.com/pradeekyahvi/simple_cms/blob/master/app/models/page.rb
https://github.com/pradeekyahvi/simple_cms/blob/master/app/models/section.rb

[2015-06-22 00:12] brendon commented on #164
Perhaps it's your touch callbacks? You could instead use `:touch => true` on the belongs_to relationship.

Otherwise I'm not sure. I see in your code you're explicitly setting a position in the parameters. Normally you'd let `aal` handle that. Try not doing that and see if it makes a difference.

[2015-06-27 15:42] akicho8 opened #166 "Phenomenon of mysterious value of the position is skipped by one"
It will become as follows:
[code]

Test code

If (A) or (B) or (C) comment out, position value is 1.

[code]

[2015-07-14 17:20] #134 closed

[2015-07-28 16:10] pjungwir commented on #158
Hi @mtomov! I've had issues with combining `acts_as_list` and soft-delete, and I wrote up my solution for it here:

http://illuminatedcomputing.com/posts/2014/12/acts_as_list-with-soft-delete/

Basically I force `deleted_at IS NULL` to be part of the scope, which is almost what you're doing but not quite. With my approach, the scope excludes deleted items even after you set `deleted_at`. Hopefully

[2015-07-29 14:29] mtomov commented on #158
:+1: Good solution. Thank you!

[2015-07-29 23:51] brendon commented on #158
Indeed, and setting the scope as a string actually bypasses the `check_scope` process too if I remember rightly.

[2015-07-30 00:04] pjungwir commented on #158
That's how the code looks to me @brendon ! One thing I've noticed about `acts_as_list` is that it seems to get confused when a list item moves from one container object to another (e.g. positions of 1, 2, 2, 3), but maybe that's just because I'm using strings for my scopes.

[2015-07-30 00:30] brendon commented on #158
I tend to be quite explicit and not rely on `aal` when it comes to moving things around. I use `ancestry` for tree structure and the two don't play too nicely together so I wrote my own moving methods (move to left of, right of and child of) that do use some of `aal`'s internal methods but don't rely on the magic :)

[2015-08-07 20:34] twelvelabs commented on #68
Please, please, please can you add a changelog? It's very tedious to have to use github's compare when updating apps w/ many dependencies.

[2015-08-27 18:47] obelich opened #167 "undefined local variable or method `list_item'"
Hiyas i recent try to install the gem in my proyect but it give that error i have this in the model
[code]

and this in the view

[code]

but it give that error :(

[2015-09-03 00:16] Albin-Willman commented on #167
Is this really related to this gem? Isn´t it just that you are using `list_item` which does not seem to be a variable or helper method. I think it is very unclear what you are trying to do. But I think it is more of a question for stack overflow than a github issue.

Imho this issue should be closed.

[2015-09-03 00:17] #162 closed

[2015-09-03 20:48] brendon commented on #167
I agree. I'll close it for now. @obelich, comment if you want to add some more information specific to `acts_as_list` so that we can debug.

[2015-09-03 20:48] #167 closed

[2015-09-03 21:33] obelich commented on #167
is ok jejeje :)

[2015-09-07 08:52] swanandp opened #169 "Fix the jruby and rbx builds"

[2015-09-07 09:04] swanandp commented on #162
@Albin-Willman Yeah, this has been a known issue with the test-suite, I am okay to let it depend on 4.1.

[2015-09-09 05:15] jdghatnatti opened #170 "Test"

[2015-09-09 06:54] swanandp commented on #170
?

[2015-09-09 06:54] #170 closed

[2015-09-14 10:54] fabn commented on #68
Still no trace of changelog :cry: :cry:

[2015-09-15 05:21] swanandp commented on #68
Sorry to disappoint you folks, this task is more tedious than it sounds. But I hope to wrap this up soon.

[2015-09-15 09:35] fabn commented on #68
@swanandp I understand this is boring. However and quick and pretty easy fix would be to introduce a changelog file and start to use it right now for every important change (bugfix or new feature). Alternatively github releases feature is also good.

For past releases a github compare link would be enough (and easy to add), however this repo has no tags thus I can't submit a PR for that. Do you ha

[2015-09-15 09:39] fabn commented on #68
You can tag past releases using [rubygems changelog](https://rubygems.org/gems/acts_as_list/versions) and for the future use [bundler gem tasks](https://github.com/bundler/bundler/blob/master/lib/bundler/gem_tasks.rb) to release the gem, in this way it will be automatically tagged and pushed to github.

[2015-10-01 01:02] vietqhoang opened #172 "Ordering of children when there are two possible parent models."
**Environment:** Rails 3.2.22, acts_as_list 0.7.2

The scenario is the following:

**Models:** Book, Magazine, Page

**Associations:**
Book, Magazine *have_many* Pages
Page *belongs_to* Book OR Magazine

**acts_as_list Implementation**:
The following is added to the Page model
[code]

**What happens:**
When adding a Page to either Book or Magazine, it shifts all pages within the same parent associ

[2015-10-12 17:00] #156 closed

[2015-10-23 14:21] mkolodziej commented on #57
I had a Category hierarchy in my app and had the same problem with null position values. I solved it by adding this method to the migration that created the position column:

[code]

This is assuming `Category.roots` would return all roots and that I have `has_many :subcategories ...` in my `Category` class

[2015-10-31 07:17] amronrails commented on #164
I had the same issue before and then I realized that position wasn't an integer variable. may be you have the same issue.

[2015-11-17 18:17] dopudesign commented on #52
:+1:

[2015-11-22 18:17] ricardobylife commented on #52
Yes, it would be awesome!

[2015-12-03 18:33] bo-oz opened #176 "I get a NoMethodError: undefined method `acts_as_list' when trying to include acts_as_list"
I just installed the gem and called the acts_as_list method in my model (including :scope), but somehow I keep getting the error message I mentioned in the subject. Is something broken maybe?

[2015-12-15 19:02] fabn commented on #68
Addressed by #177

[2015-12-16 11:11] #68 closed

[2015-12-16 15:31] fabn commented on #68
Changelog file has been generated and it's now present in [master branch](https://github.com/swanandp/acts_as_list/blob/master/CHANGELOG.md)

[2015-12-16 15:32] fabn commented on #144
Closed in #140

[2015-12-16 15:32] #144 closed

[2015-12-16 16:17] fabn commented on #164
The issue is explained by @amronrails comment, `position` column is a string thus the error.

See https://github.com/pradeekyahvi/simple_cms/blob/master/db/schema.rb#L60

[2015-12-16 16:17] #164 closed

[2015-12-16 16:17] fabn commented on #169
All builds are now fixed

[2015-12-16 16:17] #169 closed

[2015-12-16 16:18] fabn commented on #176
Could you provide a stack trace for your error?

[2015-12-16 16:19] fabn commented on #176
Also versions for both active_record and acts_as_list.

[2015-12-16 16:38] fabn commented on #172
If I understand the situation you are using acts_as_list twice for the same model, is that correct?

I think this is because they uses the same position column. This is not supported by this gem because [aal callbacks](https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L116-L120) does not have a scope dependent name, thus the behavior is unpredictable

[2015-12-16 16:38] #172 closed

[2015-12-17 14:43] pradeekyahvi commented on #164
Thanks Guys.

[2015-12-29 18:23] HannesBenson commented on #166
I've just hit the same issue and found that it was happening when save is called twice while the object is dirty. In our case save was called which fired a callback and the callback saved again. Since position was in the changes hash in both cases the position gets updated twice. Will see when I get some time to write a fix. I resolved it by adding `clear_changes_information` to the callback but i

[2016-01-08 23:03] tfausak commented on #122
I have also been bit by this. I think the problem is that `acts_as_list` tries to `reload` a record even if it's not persisted. #46 introduced this behavior. Here is an example:

[code]

I can fix this issue by overriding `reload_position` on `Element`.

[code]

[2016-01-25 15:56] GinBlades commented on #176
I'm having a similar issue, but it is happening when using acts_as_list from a gem. [This StackOverflow question](http://stackoverflow.com/questions/34816558/ruby-gem-dependency-loading) explains my issue. I am putting models that will be shared across multiple rails projects into a gem. When I use `acts_as_list` from the gem console, it works as expected. When I try to load the console from the R

[2016-01-28 03:41] orenf commented on #176
:+1:

[2016-01-28 17:33] orenf commented on #176
This is no longer an issue for me.  It was a problem with order in which the initializers where executing. Hope this helps someone else: https://github.com/orenf/spree/commit/bcd1753c8a0a9f2e53655052a411188749d58d79

[2016-02-16 15:19] bublik opened #186 "Support rails 5 ?"

[2016-02-16 22:51] brendon commented on #186
There are a few open issues around Rails 5 compatibility. Would you like to reference them into this issue?

[2016-02-18 20:24] kyledecot opened #187 "Why is `add_to_list_bottom` private?"
Just curious as to why `add_to_list_bottom` is a private method? What's the proper way to add an item to a list?

[2016-02-19 02:06] brendon commented on #187
I'm not sure to be fair. Given it's all mixed into your class, you could still use it within your model without problems right?

An item will automatically be added to the list (based on your configured scope) automatically. Wether it's bottom or top is configurable.

I find with acts_as_list, your best bet is to peruse the actual source code. It's just one file and is a bit more enlightening than

[2016-02-19 02:06] #187 closed

[2016-02-19 12:29] kyledecot commented on #187
@brendon the only way to invoke it from outside of the object is by using `send`. I have in fact looked at the source code which is what prompted this question. `remove_from_list` is public but it's counterparts `add_to_list_bottom` and `add_to_list_top` are not. Unless this is intentional I would argue that this is a bug or as least a flaw. Would a pull request to make these public be accepted?

[2016-02-21 00:15] Darkside73 commented on #186
+1

[2016-02-21 21:15] brendon commented on #187
Hi @kyledecot, aal's default behaviour it to add an item to the bottom of the list when it is persisted to the database. There is the `insert_at` method that will by default add the item to the top of the list. There doesn't seem to be an equivalent method for adding to the bottom as you say. Then there's `move_to_top` and `move_to_bottom` once the item is in the list.

I wouldn't be confident acc

[2016-02-21 23:58] kyledecot commented on #187
@brendon see:

https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L292
https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L287

[2016-02-22 00:07] brendon commented on #187
@kyledecot, I meant a public method :)

I've had a look back. The methods have always been private (since 2007 when the code was committed). They're used internally when saving a new instance in order to add that instance to the list.

Can you give a use-case for using the method externally?

I understand your frustration, bear with me while I do due diligence on this.

[2016-02-23 05:38] brendon opened #189 "Remove or tone down hound & future of acts_as_list"
@swanandp, @fabn I'm thinking we should remove hound until the code has been properly fixed to adhere to the rules. It seems to be putting people off when they do a pull request.

I'm also wondering if we could have a discussion about the future maintenance of this gem. It's really one of two options out there for this problem. The other is `ranked-model` and that hasn't seen any love for quite so

[2016-02-23 05:45] swanandp commented on #189
Yup, agreed. Until configured properly let's remove hound, the default settings are too annoying.

[2016-02-23 05:46] swanandp commented on #189
I did one round of clean up some time ago, on issues and PRs - but I agree with you, this needs some more efforts.

[2016-02-23 07:55] brendon commented on #189
Thanks @swanandp :) Is removing hound something you have to do on your end? I couldn't figure out how it was linked :)

Perhaps we could schedule a day of work on the gem? Of course there are time zones etc... and I'm not sure what your schedule is like, but I could put away a day at some point to dedicate to a cleanup/refactor. I guess the top priority is Rails 5 compatibility.

[2016-02-25 17:52] fabn commented on #189
@brendon I don't control Hound, but I think it's now gone.

For the other question, I love to work for open source projects however, as majority of us, I do that in my spare time and it's always a scarce resource.

I agree that this gem needs more efforts to work past PR and issues but I don't think that I can schedule a fixed time to do that.

[2016-02-25 20:41] brendon commented on #189
Thanks @fabn, I totally understand. I think we're all in that boat :) At least Hound is gone now :D

[2016-02-25 20:41] #189 closed

[2016-02-26 04:34] arogachev opened #191 "DEPRECATION WARNING: Passing string to define callback on Rails 5 beta 3"
From logs:

Then it references to model to line where `acts_as_list` declared. I use simple definition, without additional options.

I'm using Rails 5 beta 3.

[2016-02-27 02:56] brendon commented on #186
https://github.com/swanandp/acts_as_list/issues/191

[2016-02-27 03:11] brendon commented on #191
I've created a branch with the fix (I think): https://github.com/swanandp/acts_as_list/pull/192

Can you try using that branch and let me know if you still get the warning?

[2016-02-28 04:25] brendon commented on #191
Fixed by #192.

[2016-02-28 04:25] #191 closed

[2016-02-28 13:53] koenpunt commented on #52
:+1:

[2016-02-28 21:17] brendon commented on #52
We'd be happy to accept pull requests for this, but I don't think any of us has the time to develop this ourselves.

[2016-02-29 06:59] swanandp commented on #189
I removed HoundCI; I like it, but not on default settings.

[2016-02-29 07:01] swanandp commented on #189
@brendon About the time - like @fabn said, I wish I could set a day apart and hit this ball out of the park, but that's not gonna happen. :( So we're back to base-by-base.

[2016-02-29 07:05] brendon commented on #189
Haha, yea. It was just spamming as it was. Did you have any thoughts on the scope change detection in after_ callbacks for https://github.com/swanandp/acts_as_list/pull/188 ?

[2016-02-29 07:19] swanandp commented on #189
I haven't yet gone through the entire thread, but looking now.

[2016-02-29 10:55] koenpunt commented on #52
For now I've used https://github.com/pyromaniac/mongoid_orderable, but "one gem to rule them all" would be nice :)

[2016-02-29 19:59] brendon commented on #52
Indeed :) I'll close this for now until someone wants to look into it.

[2016-02-29 19:59] #52 closed

[2016-03-18 04:39] thefloweringash opened #194 "Reparenting child leaves gap in source list in rails 5"
When moving an item from one list to another list by assigning to the list relation, the positions of the source list aren't updated. Tested under `acts_as_list` `d605d17f6966c03d4e547fc43f6c52c774dde706` and version `0.7.2`.

Test case:

[code]

Under rails 4.2.6 I see

[code]

While under rails 5.0.0beta3 I see

[code]

[2016-03-20 21:25] brendon commented on #194
Thanks for that @thefloweringash :)

At a glance, it's probably to do with the hacky way we swap the changed attributes with their original values in order to remove the item from the first list when the scope changes:

          # Temporarily swap changes attributes with current attributes
          def swap_changed_attributes
            @changed_attributes.each do |k, _|
              if self.c

[2016-03-29 13:29] danielross commented on #76
Hi this issue still happens.

The following test in `shared_list.rb` in `test_insert_at` would fail.

[code]

[2016-03-29 23:53] brendon commented on #76
Hi @danielross, thank you for your pull request. Do you think there's scope for locking the record when reloading it in order to ensure there isn't a race condition where two processes are doing something at the same time?

[2016-03-30 09:23] danielross commented on #76
Yes I think so and actually `reload_position` won't fix it properly. It is probably better to wrap the content of `insert_at_position` in `with_lock`

[2016-03-30 10:11] brendon commented on #76
Thanks @danielross, would you be keen to add a test that simulates the race condition, then we can work on a fix :)

[2016-04-01 04:00] brendon opened #196 "Releasing a new gem version"
@fabn, could you run me through how the new change log generator works? I'd like to release a new gem version.

[2016-04-01 04:56] swanandp commented on #196
👍

On Friday 1 April 2016, Brendon Muir <notifications@github.com> wrote:

[2016-04-01 15:06] fabn commented on #196
Hi @brendon detailed instructions are available [https://github.com/skywinder/github-changelog-generator]

### TL;DR

* Generate a github token [here](https://github.com/settings/tokens/new?description=GitHub%20Changelog%20Generator%20token) for your github username
* Release the gem and push the tag to github
* After you pushed to github (changelog needs the tag available online) run the rake tas

[2016-04-02 03:43] swanandp commented on #196
Let's put this in a doc somewhere. Great job doing this @fabn!

On Friday 1 April 2016, Fabio Napoleoni <notifications@github.com> wrote:

[2016-04-03 23:57] brendon commented on #196
Indeed :) Thanks @fabn. @swanandp, I'll have a crack at the instructions then post them in the wiki once I've confirmed they're working well :)

[2016-04-08 22:30] aaroncraigongithub opened #198 "Reordering large lists is slow"
On a large list, something like move_to_top will trigger changes on every item in the list, which seems like overkill in most use cases.

If the :position field is a float, wouldn't it be easier to leverage more granularity in the position value so that moving an item in the list would affect only that single item?

That is, if my current list positions are 1, 2, 3 and I move 3 to the top, my new

[2016-04-10 22:36] brendon commented on #198
Hi @aaroncraigongithub, in my applications position is an integer. I think most developers do it that way. I guess you could have a detection of the type and act appropriately.

However, what I think you want is this: https://github.com/mixonic/ranked-model

Unfortunately it looks like it's dead (or hibernating!) which is a shame because I've used it in one of my projects too.

[2016-04-14 01:29] brendon commented on #196
Hi guys, I've released the 0.7.3 gem version. It looks like `rake release` creates the tag in github also, so I didn't run `git tag...` and `git push --tags`.

The wiki page is here: https://github.com/swanandp/acts_as_list/wiki/Creating-a-new-gem-version

Let me know if there are any problems.

[2016-04-14 01:29] #196 closed

[2016-04-14 05:14] swanandp commented on #196
Nice! :fireworks:

[2016-04-14 08:45] swelther commented on #122
Seems I'm hit by this bug too. Any news about the fix?

[2016-04-14 09:07] brendon commented on #131
Hi @fabn, you're still working on this one by the looks?

[2016-04-14 09:08] brendon commented on #122
I'll look into this. What's the scenario in which one is destroying records not yet persisted in the database?

[2016-04-14 09:13] swelther commented on #122
Not exactly. I try to destroy a record that has a `has_many` relationship with an acts_as_list model. And during the destroy I get the record not found error :cry:

It fails here:

acts_as_list-0.7.3/lib/acts_as_list/active_record/acts/list.rb:481

[2016-04-14 09:25] swelther commented on #122
Oh wait, maybe it is our fault. We overwrite `destroy` in the related model and have an `dependent: :destroy` on the relation of the other model. It is a mess. I check this first :)

[2016-04-14 19:17] fabn commented on #131
@brendon I'm not working on this in this moment. I [rebased my original pr](https://github.com/swanandp/acts_as_list/pull/132#issuecomment-204061319) couple of weeks ago but currently it's not mergeable anymore.

[2016-04-14 20:04] brendon commented on #122
Haha, sounds like fun. Definitely sounds like an out-of-order destroy problem. I've had something similar with `ancestry` where I had to basically override the deletion routine to make sure it began deleting the leaves of the tree first and then upward rather than all at once in a non-deterministic way.

[2016-04-14 20:14] brendon commented on #131
Ok, let's leave it open. I use ancestry too. I haven't noticed problems but I actually override the following to disable the scope detection, then have a few methods to move items around instead:

[code]

Let me know if you want to see those methods.

[2016-04-15 10:25] gamecreature opened #199 "Undefined instance variable @scope_changed since 0.7.3"
I'm using spree which combines acts_as_list and awesome_nested_set set.

With 0.7.2 everything works perfectly
With version 0.7.3 the error below happens. After some painful debugging I noticed @scope_changed was coming from acts_as_list. Reverting acts_as_list to the 0.7.2 versions fixes it.

I assume the reason is there isn't an instance_variable @scope_changed when the record is committed.

So

[2016-04-15 11:13] brendon commented on #199
Hi there, so sorry to see that caused a bug. I don't think it's that line, rather, we're not checking for the existence of the instance variable before trying to remove it.

How about this as a solution?

[code]

Try bundling this branch and see if that fixes the problem. The tests probably didn't pick this up because the tests all trigger the creation of the variable.

[2016-04-15 11:25] gamecreature commented on #199
Thank you very much for your quick response
This indeed fixes my problem! 👍

[2016-04-15 11:27] brendon commented on #199
I'm glad to hear it :) I think the actual reason the tests didn't pick up the problem is that tests are run in a transaction, so this piece of code actually never runs. I'm looking to add something that tests that callback and I'll push a new gem version soon.

[2016-04-15 12:00] brendon commented on #199
0.7.4 should work for you now :) Thanks again for raising this.

[2016-04-15 12:00] #199 closed

[2016-04-15 12:03] gamecreature commented on #199
Thank you for fixing this...!!  👍

[2016-04-15 12:18] damianlegawiec commented on #199
Thanks @brendon for the quick fix!

[2016-04-15 13:29] swelther commented on #122
Yeah this was fun. Observer, circle dependent destroys and before_validation callbacks. But now it works and it was not acts_as_list fault :)

I'm glad I never used `ancestry`. I probably would go with a delete flag instead of actually destroying stuff to make my life easier :)

[2016-04-15 14:53] andreasknoepfle commented on #127
is there any particular reason why this was closed ? It would indeed be pretty nice and way more configurable to have that
Maybe like:
[code]

`photo.move_higher_in_priority`
`photo.move_higher_in_gallery_position`

While the default methods (`move_higher`, `move_lower`) are only available when acts_as_list are only available for the first call of acts_as_list.

[2016-04-15 20:37] brendon commented on #199
You're welcome. I've yanked the 0.7.3 gem to be sure.

[2016-04-15 20:42] brendon commented on #122
That's good to hear @swelther :) Glad you got your problem sorted.

[2016-04-15 20:44] brendon commented on #127
It does sound like an interesting idea. It was closed by the author or the issue though, so perhaps they changed their mind.

We'd happy accept a pull request with tests for this feature, but none of us have the time to develop it right now.

[2016-04-17 08:00] brendon commented on #131
Hi @fabn, I'd be interested to see if the work on @scope_changed fixed this bug. Could you let me know?

[2016-04-17 08:01] #122 closed

[2016-04-17 11:19] brendon commented on #96
Closing this due to the PR being closed as out of scope: https://github.com/swanandp/acts_as_list/pull/111

[2016-04-17 11:19] #96 closed

[2016-04-17 11:20] brendon commented on #26
I'm going to close this for now since it's not seen any action and @swanandp mentioned he things its out of scope.

If anyone is still interested in this, feel free to start a new issue with a fresh PR.

[2016-04-17 11:20] #26 closed

[2016-04-17 11:22] brendon commented on #55
Closing this since there was no response from @vnguyen13.

[2016-04-17 11:22] #55 closed

[2016-04-17 11:23] brendon commented on #61
@swanandp, do you still want this as a future feature? It sounds a bit confusing to me. @randomizor, if you're still interested in this, could you explain it a bit more for me? :)

[2016-04-17 11:30] brendon commented on #77
Hi @dellch, sorry for the very delayed response. Can you explain why this inconsistency is causing a problem? Is it because there is a bug in the outcome, or you'd just prefer a certain value returned?

[2016-04-17 11:35] brendon commented on #84
Sorry to hear that this is the case. I'd like to look into this. Can you confirm it's still a problem with `master`? If you can trace the query that's being executed when `acts_as_list` is being initialised that would be helpful. I assume that's what's happening?

[2016-04-17 11:37] brendon commented on #86
I'm closing this for now due to inactivity.

[2016-04-17 11:37] #86 closed

[2016-04-17 11:38] brendon commented on #88
I agree with @ludwigschubert, the internals of `acts_as_list` would require quite an overhaul to achieve this functionality. I'm closing this due to inactivity.

[2016-04-17 11:38] #88 closed

[2016-04-17 11:43] brendon commented on #92
This doesn't sound like a bad idea. Would one of you like to take a stab at implementing it and creating a PR?

Right now I guess `nil` is as valid a scope as say `1` or whatever your custom scope is, so `acts_as_list` is using that to group your items. We're assuming you order all your things.

If I hear nothing after a few weeks I'll close this until someone is happy to work on it.

[2016-04-17 11:48] brendon commented on #97
Hi @ludwigschubert, I'll close this off for now unless time has given you some new inspiration :)

[2016-04-17 11:48] #97 closed

[2016-04-17 11:53] brendon commented on #103
Joining in late, but this sounds like two different scopes to me.

`acts_as_list scope: [:task_list, :status], add_new_at: :top`

or something like that. Still that wouldn't allow for the complex logic about where in the list an item in the `complete` status scope should go when it joins that scope. Callbacks are probably the answer, or manually specifying the position after checking the existing

[2016-04-17 11:53] #103 closed

[2016-04-17 12:13] brendon commented on #109
@neutralino1, I'm trying to write a test to reproduce this problem but haven't been able to. Here's what I have so far. Can you fill in the gaps?

[code]

[2016-04-17 12:15] brendon commented on #110
Is this still a problem? Instead of a monkey patch it'd be good if we could fix it. New items should go at the bottom of the list by default. Have you tried removing the default value from that column?

[2016-04-17 12:21] brendon commented on #112
I'm not sure, but I think your most likely option would be to bypass the callbacks with something like this:

[code]

It accepts an array of ids and updates their position according to the position of that id in the array. You'd want to scope `Products` correctly too to ensure the user can't update willy nilly.

I'm going to close this now since it's so old, do feel free to ask questions :)

[2016-04-17 12:21] #112 closed

[2016-04-17 12:24] brendon commented on #117
It could be feasible but not something any of us have time to work on. If you can provide a PR we can look at it from there. I'll close this for now though. I think it's reasonable to expect the position to be provided as an integer and for your code to be doing the conversion first.

[2016-04-17 12:24] #117 closed

[2016-04-17 12:28] brendon commented on #118
https://github.com/swanandp/acts_as_list/pull/201 should have fixed this one. We `lock!` doesn't reload if the record is no longer persisted (i.e. it's new or deleted).

[2016-04-17 12:28] #118 closed

[2016-04-17 12:29] #120 closed

[2016-04-17 12:46] brendon commented on #137
There isn't a way as far as I know. This seems to be the standard way to go about it: https://github.com/swanandp/acts_as_list/issues/112#issuecomment-211008685

If you're just updating the position, then what callbacks do you need to run for that? :)

I'll close this for now, but feel free to comment further.

[2016-04-17 12:46] #137 closed

[2016-04-17 12:50] #149 closed

[2016-04-17 12:51] #150 closed

[2016-04-17 17:37] fabn commented on #131
@brendon rebased again the PR and the fix introduced in 1cf515d9fccc473409fc729ae394493aebe1ba86 is still necessary. Without that commit tests will fail.

[2016-04-17 20:53] brendon commented on #109
I have a test that reproduces the problem, except that I get `[1,1]` instead of `[0,1]`. Perhaps some changes in `master` since this issue was raised changed how the bug materialises?

[2016-04-17 20:55] brendon commented on #124
I thought I had this reproduced, but I couldn't reproduce it. I'm going to close this for now unless someone can provide a test case that shows the bug.

[2016-04-17 20:55] #124 closed

[2016-04-17 20:57] brendon commented on #153
@afn, could you rebase this to confirm that it's still a bug? Let's try to get this one solved :)

[2016-04-17 21:01] brendon commented on #155
Hi @arnaudl, is this still an issue for you? I think this behaviour is consistent right back to the early days of `acts_as_list`. The scope feature has always been a bit of a mind job.

Unfortunately we don't have time to work on new features like this at the moment. If you'd like to provide a PR with some tests then we'll definitely work with you on it, but otherwise I'm going to close this for n

[2016-04-17 21:01] #155 closed

[2016-04-17 21:07] brendon commented on #158
Looking at this again, we're expecting the scope attribute values to be the same for all items within a scope. Therefore you can't use a field like `:deleted_at` because this has a very specific value. You're basically saying you want to order items deleted at exactly the same time.

The alternative as I think you've already alluded to is to manually define the scope method to take into account we

[2016-04-17 21:07] #158 closed

[2016-04-17 21:09] brendon commented on #161
That's correct. We now use `lock!` instead but the outcome is the same.

[2016-04-17 21:09] #161 closed

[2016-04-17 21:10] brendon commented on #166
This should be fixed now. Feel free to let me know if not.

[2016-04-17 21:10] #166 closed

[2016-04-17 21:12] brendon commented on #176
Closing this. If anyone is still having the issue please let me know.

[2016-04-17 21:12] #176 closed

[2016-04-17 21:22] brendon commented on #186
https://github.com/swanandp/acts_as_list/issues/194

[2016-04-17 21:23] brendon commented on #198
@aaroncraigongithub, I'm going to close this for now. Feel free to continue the discussion here though.

[2016-04-17 21:23] #198 closed

[2016-04-17 21:34] brendon commented on #186
I've started by including tests for Rails 5 beta 3: https://github.com/swanandp/acts_as_list/pull/203

[2016-04-18 03:18] afn commented on #153
Sure - I've rebased [amitree/acts_as_list](https://github.com/amitree/acts_as_list) and it still fails.

[2016-04-18 03:26] brendon commented on #153
Thanks for that. Could you do a pull request for this so we can look at the diff's?

[2016-04-18 18:05] USvER commented on #110
Sorry, i'm not having access to that project anymore.

[2016-04-18 22:45] brendon commented on #110
Ok, I'll close this. If someone can reproduce this with a failing test then we'll look into it.

[2016-04-18 22:45] #110 closed

[2016-04-19 14:48] swanandp commented on #199
Came here to say please yank the 0.7.3 version.

[2016-04-19 14:54] swanandp commented on #61
@brendon No, I don't think so. This is a feature easily implemented in the application layer.

[2016-04-19 14:55] swanandp commented on #61
Closing this now, but @randomizor feel free to add more to this, and we can talk about implementing this.

[2016-04-19 14:55] #61 closed

[2016-04-19 15:17] swanandp commented on #84
I haven't faced this problem before, and I have has a bunch of apps on Heroku with `acts_as_list`.  Definitely need some more information to understand what's happening.

[2016-04-19 19:33] naysayer opened #206 "Exception raised when calling destroy "NameError - instance variable @scope_changed not defined:""
I recently upgraded from v0.6.0 to v0.7.3 and begun to notice an issue when calling destroy on an instance that was using acts_as_list. As stated in the title, the exception raised is "NameError - instance variable @scope_changed not defined:" This issue only effect instances from classes that uses acts_as_list. Reverting back to my original version of 0.6.0 solved the issue for the time being.

O

[2016-04-19 20:06] fabn commented on #206
See #199 and [changelog](https://github.com/swanandp/acts_as_list/blob/master/CHANGELOG.md#v074-2016-04-15)

Version 0.7.3 [has been yanked](https://rubygems.org/gems/acts_as_list/versions/0.7.3)

## TLDR;

Upgrade to v0.7.4

[2016-04-19 20:06] #206 closed

[2016-04-22 02:30] raimo commented on #198
This is a really weird situation we have here – very sad ranked-model is not maintained. :)

Probably a cool project for someone to create a partial fork of both.

[2016-05-01 21:25] brendon commented on #186
I've fixed all the test problems etc... so I'm fairly certain we now have Rails 5 support. Please comment here if you find anything else.

[2016-05-01 21:25] #186 closed

[2016-05-01 21:26] brendon commented on #194
@thefloweringash, can you test again on master? I've rewritten that part of the code now to fix a problem with Rails 5.

[2016-05-02 07:47] thefloweringash commented on #194
This resolves the issue for me. Tested against revision a3b1d4ec6a31c713a57d31cdf24e407407c24b5b. Thanks!

[2016-05-02 07:47] #194 closed

[2016-05-02 21:16] brendon commented on #194
That's great to hear! :) You're welcome :)

[2016-06-02 21:23] brendon commented on #76
For reference: #195 is working on this issue.

[2016-06-02 21:24] brendon commented on #77
@dellch, I'm closing this for now due to inactivity. Feel free to comment further if it's still a problem for you.

[2016-06-02 21:24] #77 closed

[2016-06-02 21:25] brendon commented on #84
Closing for now. @mattheworiordan, please feel free to contribute further if it's still a problem for you.

[2016-06-02 21:27] brendon commented on #92
Closing due to inactivity. @thefron, @johnnyiller, @randallb, @matteomelani feel free to contribute a PR to solve this issue.

[2016-06-02 21:27] #92 closed

[2016-06-02 21:34] brendon commented on #153
@afn, can you introduce the failing tests as a PR and we can go from there.

[2016-06-02 23:32] afn commented on #153
@brendon There's already a PR, #204. Thanks!

[2016-06-03 02:03] brendon commented on #153
Thanks @afn :) Good to have it linked here :) Can you rebase your code to master and then we can go from there :)

Cheers,

[2016-06-21 12:02] tinderfields opened #209 "Adding to existing model with data and methods don't work"
When I add acts_as_list to a model retroactively the position is set to NULL and the move_higher and lower methods etc don't work. I have to add something like this to the migration.

[code]

It would be good if there was something in the documentation to highlight this as I seem to have to figure it out every time I use acts_as_list

[2016-06-21 21:15] brendon commented on #209
Hi @tinderfields, yes that's a good idea. Would you mind forking the project, updating the `README` and  doing a pull request? Try to make you example as generic as possible to ensure it makes sense to everyone. You'll also want to set position to `i + 1` since `each_with_index` is zero-based, and `acts_as_list` generally is configured one-based.

Remember also that scopes come into play here. So

[2016-06-22 09:34] tinderfields commented on #209
Done

[2016-06-22 15:42] swanandp commented on #209
@brendon That does seem slightly out of scope for us, but we should certainly add the documentation. FWIW, in my experience, `acts_as_list` is almost exclusively used _with_ a scope, than _without_.

[2016-06-22 21:48] brendon commented on #209
@swanandp, yes that's been my experience also. If @tinderfields can adjust the methods so that they cope with nil values or values with gaps between adjacent items that'd be a bonus :)

[2016-06-23 08:42] swanandp commented on #209
👍 Agreed

[2016-06-29 18:21] dsandstrom commented on #186
Can you publish a new version that includes Rails 5 support?

[2016-06-30 10:37] brendon commented on #186
Sorted :) 0.7.5 is the version you want. This is tested against Rails 5 RC2.

[2016-07-08 13:29] greatghoul opened #211 "add_new_at nil with scope causes NoMethodError"
[code]

When scope was set, error raised:

[code]

https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L474

[2016-07-11 03:06] #211 closed

[2016-07-15 00:46] brendon commented on #131
Hi @fabn, given that the Rails 5 compatible attribute swapper is now in master, let's try to close this one off with a solution around that existing code. I think there's also no PR for this yet. Can you open one and that'll give us a working point. :)

[2016-07-15 00:48] brendon commented on #138
Closing due to no one wanting to pursue this anymore. Could still be an obscure bug.

[2016-07-15 00:48] #138 closed

[2016-07-15 00:54] brendon commented on #209
@tinderfields, I can't find your Pull Request for this change. Can you make one or link it into here if it already exists?

If you'd also like to tweak the public methods to cope with nil values that would be a bonus (with tests of course). Let me know if you need help getting the test suite running etc...

[2016-07-18 10:04] #76 closed

[2016-08-07 15:54] rdvdijk opened #214 "Issue after upgrading to 0.7.5: No connection pool with id primary found."
I'm getting a `No connection pool with id primary found` error when using ActiveRecord 5.0.0 with `acts_as_list` 0.7.5. All works fine 0.7.4.

Here is the top of the stack trace:

[code]

The code in question looks like this:

[code]

And for the sake of completion, `Playlist` is:

[code]

[2016-08-07 22:04] brendon commented on #214
Hi @rdvdijk :) That's an interesting error. Just looking at your code, the only unusual things I see is that you're nesting your classes in a `Module`, and you're explicitly `requiring` acts_as_list (you shouldn't need to, it's already injected into `ActiveRecord::Base`.

If you can experiment with those two aspects and get back to me, that would be a huge help :)

If it's still failing, the next

[2016-08-08 07:07] rdvdijk commented on #214
Note that this is not a Rails project, but stand-alone usage of ActiveRecord.

Another thing I've just realized, I have this in my `Gemfile`:

[code]

I think the `require: false` was a workaround for something I encountered in the past. I'll try and remove the `require: false`, and remove the `require` from the the source code.

(I'm currently at work, I'll report back when I get around to testin

[2016-08-08 15:36] rdvdijk commented on #214
I wrote:

That doesn't seem to work either.

If I do not require `acts_as_list` myself, this is the error message I get (which was to be expected) :

[code]

[2016-08-08 17:29] rdvdijk commented on #214
@brendon I started a small test-project to try and replicate this issue. The solution turned out to be extremely trivial, but interesting nonetheless: `acts_as_list` needs an **established connection to the database** when loading the `ActiveRecord` models.

My old code used `acts_as_list` 0.2.0 (yeah, that old), and `acts_as_list` didn't need that connection. Note that this was introduced in 0.7.

[2016-08-08 17:29] #214 closed

[2016-08-08 21:29] brendon commented on #214
@rdvdijk, thanks for digging into that a bit deeper. I wonder what part is requiring the active database connection? @swanandp, do you have any ideas?

I've come across this with the `authlogic` gem too. Though that's because it enumerates something in the users table to determine certain settings.

At least you've hopefully found the fix for your situation however :)

[2016-08-09 06:42] rdvdijk commented on #214
[Line 77 of list.rb](https://github.com/swanandp/acts_as_list/blob/3e5a0ad411e72b889b8ef035384c30d2d22f90f9/lib/acts_as_list/active_record/acts/list.rb#L77) is accessing the connection:

[code]

The `quoted_position_column` is then used in the `class_eval` block directly following it.

Looks to me like quoting the column name could *probably* be postponed and done inside the `class_eval` block, wh

[2016-08-09 07:22] brendon commented on #214
I see what you mean :) The `class_eval` block has always bugged me, there's probably a cleaner way to do all of that. Perhaps we can make `quoted_position_column` (at the bottom of the file) a class method and lazily access it in the class methods rather than interpolate it in the `class_eval`?

[2016-08-10 11:39] rdvdijk commented on #214
@brendon @swanandp I've created a pull request #215, which also addresses this issue.

[2016-08-11 03:21] brendon opened #218 "Rubinius Intermittent testing error"
https://travis-ci.org/swanandp/acts_as_list/jobs/151394790

Not sure why this is failing only sometimes?

[2016-08-13 07:13] maxim opened #219 "Behavior with DB default seems unclear"
Thank you very much for maintaining this gem. Have a use case that could maybe use a little love (I know it's been discussed before, but not enough it seems).

We have acts_as_list declared like this:

[code]

In DB position default is set to 1, but the problem is: each new record still goes to the bottom. Setting position to 1 explicitly, or using `position_will_change!` doesn't help (probably be

[2016-08-14 07:22] brendon commented on #219
Hi @maxim :) Thanks for bring this up. I've created a PR with a test that confirms the bug: https://github.com/swanandp/acts_as_list/pull/220

If you come up with any insight as to how to work around this problem, please let me know :)

[2016-08-14 09:33] brendon commented on #219
Updated the PR with a fix though it actually changes tested behaviour so I'm not quite sure wether to merge it or not.

[2016-08-18 10:53] swanandp commented on #214
Thanks @rdvdijk ! I have been meaning to get rid of the class_eval for some time now.

[2016-08-19 01:16] brendon opened #222 "Ouch, we got a mention!"
http://olivierlacan.com/posts/the-upgrade-trails @olivierlacan

At least we still support Rails 3.2 :P

[2016-08-19 01:16] #222 closed

[2016-08-19 01:45] olivierlacan commented on #222
Props for keep the gem up-to-date. Otherwise I would have suffered a lot more. 😉

[2016-08-19 01:45] olivierlacan commented on #222
Also so much love from me for that wonderful [CHANGELOG](CHANGELOG.md). ❤️

[2016-08-19 03:08] brendon commented on #222
Haha, the CHANGELOG generator is a bit of a beast, but it's better than nothing for sure :D These days I'm always left lost and confused and like a spoilt child if a dependency doesn't have a CHANGELOG.

[2016-08-19 11:41] swanandp commented on #222
@olivierlacan Hope you have a better experience with acts_as_list in the future. @brendon has done a massive job of keeping us up to date with PRs and issues, we're in reasonable shape right now.

[2016-08-19 23:13] brendon commented on #222
Thanks @swanandp :) It's been great to have been able to give a little back.

[2016-08-22 07:51] brendon opened #224 "Break away from rails/acts_as_list"
I'd like to float the idea of breaking this repo away from `rails/acts_as_list` in terms of its being a fork of that repository.

Any thoughts on this? As far as my experience, I've created several erroneous pull requests against `rails/acts_as_list` as branches on `swanadp/acts_as_list` automatically refer to this when creating a PR. I suppose I should probably be using my own fork, but often col

[2016-08-23 22:40] brendon commented on #219
Closed by #220.

[2016-08-23 22:40] #219 closed

[2016-08-23 22:57] brendon commented on #219
0.8.0 has been released and includes this change.

[2016-08-28 21:18] brendon opened #226 "RE #221 needing a test"
Hi @jpalumickas, I just realised there was no test for #221. Are you able to whip up a test that failed before we merged your change and do a PR?

[2016-08-29 21:20] brendon opened #227 "Refactor string eval for scope_condition"
This code needs to be looked at:

[code]

Some work has been done here previously by @rdvdijk: https://github.com/swanandp/acts_as_list/pull/215

Any thoughts @swanandp?

[2016-08-29 21:23] brendon commented on #227
Personally I'm not sure how we could work around this. Supplying the scope as a string is very handy sometimes. The only way this is insecure is if the developer wants to shoot themselves in the foot and supply a silly scope condition. I don't think there's a way to have the scope condition interfered with from outside the app code since this is all evaluated at boot time.

[2016-09-01 21:44] brendon commented on #218
Was related to me not doing the Appraisals thing properly!

[2016-09-01 21:44] #218 closed

[2016-09-04 23:54] felixbuenemann commented on #84
I'm running into the same issue when building a docker container for a solidus app where the database connection is not available when `rake assets:precompile`is run.

The acts_as_list gem accesses the active record connection in a class method which triggers a database connection:

https://github.com/swanandp/acts_as_list/blob/v0.8.0/lib/acts_as_list/active_record/acts/list.rb#L77

[code]

Lookin

[2016-09-04 23:59] felixbuenemann commented on #84
Reading the code on master more carefully, it doesn't seem to be fixed, because those methods are still called inside the class method during`define_singleton_method` calls.

[2016-09-05 00:47] brendon commented on #84
That's interesting. Are you able to test it out and let me know? Perhaps there's a way to quote without using the method via the connection?

[2016-09-05 00:49] felixbuenemann commented on #84
I switched to master and it seems to work, from reading the code I would have thought that the methods would still be called when the `acts_as_list` class method is invoked.

[2016-09-06 03:11] brendon commented on #84
Thanks @felixbuenemann, I think that one is only evaluated when the method is actually called. It's certainly difficult to read in its current state.

I'll close this since the latest seems to support what you're after. I'll release a new version now too.

[2016-09-06 03:11] #84 closed

[2016-09-08 07:38] jmuheim opened #228 "Tests break when upgrading from 0.7.2 to 0.7.4"
I have the following model:

[code]

With the following test:

[code]

  end

With `acts_as_list` v0.7.2, it passes:

[code]

With v0.7.4, it doesn't:

[code]

Any idea what's going on here?

[2016-09-08 08:30] brendon commented on #228
Hi @jmuheim, can you upgrade to the latest 0.8.x version and see if you're experiencing the same failure?

[2016-09-08 08:31] jmuheim commented on #228
Yes I do.

[2016-09-08 09:17] brendon commented on #228
Ok, thanks for that. Are you able to isolate this failure so that you don't rely on `acts_as_tree`? That gem might be calling another callback that modify's the position again. Take a look at the SQL executed and that might also give us a clue as to what's going on.

[2016-09-12 14:25] krisleech commented on #227
I not sure if this is related but I used `acts_as_list scope: 'study_id'` and found the scoping not work. I had to use a symbol instead of a string which I found surprising.

[2016-09-12 20:13] brendon commented on #227
Yes, it is a bit counter-intuitive. The string/symbol thing has been around as long as the library as far as I know. One of my contractors is doing some refactor of the structure of `acts_as_list` and he's found this weird also. We might look at modifying the behaviour but it would break a lot of existing users code as they may be depending on the string functionality.

[2016-09-13 13:55] ledestin commented on #227
If an array is passed, it's treated differently from a scalar. You could code that strings aren't changed, but to a `Symbol`, `_id` could be added. But as noted above, it'd be confusing. A way out of this could be to look for a `=`, if present, it's a `WHERE` query, if not, it's a column.

[2016-09-13 20:00] brendon commented on #227
That's an idea. It starting to get very subtle though. I just remembered the conversation we had about inspecting the models `Reflections` to determine wether or not to add an `_id`. In the case of a string, many use this to supply their own more complicated scopes. They then also override `scope_changed?` to ensure a change is picked up. Here's one example where I use it (though without passing a

[2016-09-17 20:09] StoneFrog commented on #109
Hey guys, I managed to write test that reproduces the problem. I also did small change in code that seems to fix this issue - PR #230

[2016-09-20 12:37] swanandp opened #232 "We're a repo now, no longer a fork attached to rails/acts_as_list"
Yay!

[2016-09-20 15:31] fabn commented on #232
Good 👍

[2016-09-20 21:04] brendon commented on #232
Haha! No more embarrassing accedental PR's on `rails/acts_as_list`! :) Thanks @swanandp for sorting this out. Closes #224.

[2016-09-20 21:04] #232 closed

[2016-09-20 21:07] fabn commented on #224
This can be closed now.

[2016-09-20 21:07] #224 closed

[2016-09-20 23:10] #109 closed

[2016-09-23 10:27] MarcReniu opened #233 "Reorder positions"
Imagine you have the next elements with missing higher positions:

- **ElementA** in position 4
- **ElementB** in position 5
- **ElementC** in position 6

If I want to move position of ElementA to top of list, I can use `move_to_top` method, but in case I execute next `move_higher` over ElementB, it becomes position 4, and ElementA, position 5.

The final goal is to reorder all elements, consideri

[2016-09-26 21:14] brendon commented on #233
Hi @MarcReniu, there isn't currently a method to clean up the list orderings. `move_higher` simply swaps the position values of the two concerned records as far as I'm aware.

We're always keen to improve the library. If you have any ideas (and PR's) that can help, we'll do our best to see them merged. One feature I'd like is an auto-repair process that fixes up duplicate position values in a list

[2016-09-27 09:56] MarcReniu commented on #233
I finally made a `module` to check and perform the reorder. It is ugly as f***, but it only makes the minimum possible queries, and no executes validations or callbacks.

You could use it as an starting point, or throw it to the garbage, as you wish.

[code]

[2016-10-03 01:58] brendon commented on #233
Thanks @MarcReniu, the important part is this:

[code]

which is what a lot of people do when processing a reorder request from the browser anyway (many drag and drop plugins send through just an array of `id`'s. I prefer to set the `position` explicitly these days. That, coupled with our scope change detection allows for some pretty powerful reordering (i.e. automatic removal from the old scope,

[2016-10-03 01:58] #233 closed

[2016-10-05 16:49] DavidVII opened #234 "Shuffling positions is halting the callback chain"
Howdy, I've been having an issue where the callback chain is being halted around the `update_positions` callback. The issue goes away if I remove [this line](https://github.com/swanandp/acts_as_list/blob/16cc8af5583040a54ee92257c568ee560856c7fa/lib/acts_as_list/active_record/acts/list.rb#L380). The remaining callbacks fire just fine, but of course, the `shuffle_positions_on_intermediate_items` met

[2016-10-05 22:45] brendon commented on #234
Hi @DavidVII, that certainly sounds strange. You'll hate me saying so, but it'd be helpful if you could try to reproduce this in a test in our test suite. Once we have a failing case seperate from your application, it'll be much easier to diagnose. I'd be surprised if you didn't discover the reason for the failure in that process anyway :)

Let me know how you get on.

The only way for a callback

[2016-10-05 22:59] DavidVII commented on #234
Hi @brendon, indeed this is a strange one. I did write tests, but they're within my application. I'll see if I can replicate within your test suite. If I do, I'll open up a PR and with any luck, it'll include a fix too.

It's a bit tricky cause the code in question doesn't appear to be returning false. However, whenever that line runs, the remaining callbacks do not fire. I'll keep hacking around.

[2016-10-05 23:33] brendon commented on #234
Thanks @DavidVII, sounds good. :)

[2016-10-06 19:46] DavidVII commented on #234
Hi @brendon, i've got an [isolated test file here](https://gist.github.com/DavidVII/efa71b1465c5fa1497a6845acb8a56a9) that replicates the issue.

The main idea here, is that `my_callback` should be triggered every time the position is updated. The callback simply adds one to the `counter` column. As you can see by running the file, the callback is only triggered once. All `Status` position columns

[2016-10-07 02:50] brendon commented on #234
Thanks for the test :) What would be even better would be if you brought it into our test suite proper then we can run it more easily on our end too. Create a PR with the failing test case.

I had one quick thought though. It's prone to create havoc if you kick off other database operations in `after_` callbacks. In this case you're kicking off an update of a column which will in turn kick off the

[2016-10-12 05:53] fschwahn commented on #76
This issue is still not solved for me, using version `0.8.1`. This happens for me when creating records, not when updating records.

I think the problem is that this line https://github.com/swanandp/acts_as_list/blob/16cc8af5583040a54ee92257c568ee560856c7fa/lib/acts_as_list/active_record/acts/list.rb#L351 is outside of the `with_lock`-block. I cannot say if this is an oversight or on purpose, but

[2016-10-12 20:24] brendon commented on #76
That's a strange one :) I'm not sure how locking the new record would fix that.

In the current case, locking the record that's about to be inserted at a new position (update) should hold off other insertions that have anything to do with this record by acts_as_list (i.e. those records in the same scope). This is probably more of a beneficial side effect?

Perhaps we should be locking the whole sc

[2016-10-13 19:39] fschwahn commented on #76
To be honest I just took a quick glance at the code, and misinterpreted what `with_lock` is actually doing - I though it was a table level lock instead of a row level lock.

It's very easy to write a failing test, but I had to switch to postgres to do that. As simultaneous writes are AFAIK impossible in sqlite, it's not possible to trigger this behavior with it. If the test suite would support oth

[2016-10-13 20:07] brendon commented on #76
Thanks @fschwahn, that's some very interesting info! Mildly depressing that the suite is failing a lot in postgres! I wonder what it's like in mysql?

Right now it's so simple to get a test environment up and running. Adding those dependencies adds a bit of complexity but it's probably worth it.

As a start, would you like to see if you can get a test suite up and running that tests against sqlite

[2016-10-14 08:28] fschwahn commented on #76
I'll have a look at the travis setup, but I had a brief look at the test failures, and all the failures are because they test database specific details (default order, order of NULLs). These tests need to be adjusted, but there was nothing dramatic.

[2016-10-14 08:33] brendon commented on #76
Oh ok, that's good then. Still, probably a good idea that we're testing against the databases that people actually use :)

[2016-10-14 09:53] fschwahn commented on #76
And about the locking issue:
It's possible to just lock the relevant scope with something like `acts_as_list_class.lock.where(scope_condition).to_a` (`with_lock` only operates on individual models) - I briefly tested it and it _almost_ works:
It does not work when several records are inserted when there are no other records yet (ie. on position 1), because there are no rows to lock yet. I fear in

[2016-10-14 13:32] swanandp commented on #76
About Travis, sure, just me know.

[2016-10-15 04:45] brendon commented on #76
@fschwahn, that's some fine sleuthing :) If there are no records yet in that scope then there's no need for a lock because there's nothing to effect unless you're worried about multiple threads adding to the same empty scope. In that case there'd need to be something lower level. Perhaps it's possible to lock that scope as SQL directly (bypassing the Rails stuff). Then I'd assume you could lock th

[2016-10-20 01:27] seanarnold opened #235 "PG::TRDeadlockDetected"
We seem to intermittently get Deadlock errors with `acts_as_list` and Postgres.

[code]

Is this a known issue? I'm using `acts_as_list (0.7.7)`.

[2016-10-20 02:22] brendon commented on #235
Not that we're aware of. Can you try the latest version and see if that helps? Is it to do with with conflicting `ORDER BY` on this query vs another also updating records? I had a similar deadlock problem and it turned out to be due to ordering being overridden resulting in updates occurring from opposite ends of the table and clashing (that's a very technical explanation!).

We do lock a record u

[2016-11-05 22:16] prosanelli commented on #76
I am seeing duplicate positions in 0.8.2 and Rails 5.0.0.1.

[2016-11-07 20:18] brendon commented on #76
Hi @prosanelli, are you able to give a bit more information? Under what circumstances is this happening?

[2016-11-07 20:24] prosanelli commented on #76
I am creating records using sidekiq jobs.

[2016-11-07 20:51] brendon commented on #76
So it's probably a locking issue? Is it due to no locking on an empty scope? (i.e. a list with no items yet)

[2016-11-15 20:25] brendon opened #238 "Broken tests related to time comparison"
We're getting failures like this:

[code]

I implemented `timecop` to try and alleviate the occasional failure of tests due to millisecond creep. I know there is a way to build in allowance for the time to change slightly (milliseconds) in the test comparison but would rather not since we shouldn't have to.

Would one of you be able to take a quick look if you've had experience with these kinds of

[2016-11-15 20:32] brendon opened #239 "warning: too many arguments for format string"
These warnings are popping up in the tests and I've isolated it to this method:

[code]

Basically we end up with multiple copies of `:now` in the string but are only passing the one `now: now` into the `update_all`. I believe this might be a deeper rails bug but we could alleviate it possibly by naming each `:now` uniquely and passing all of those `now`'s by name in as a hash.

Alternatively, is

[2016-11-15 22:04] fabn commented on #238
Are you able to reproduce the failures locally? I tried but wasn't able to do that. Ideally, as you told these issues are solved using Timecop and/or [assert_in_delta](http://ruby-doc.org/stdlib-2.0.0/libdoc/minitest/rdoc/MiniTest/Assertions.html#method-i-assert_in_delta) but timecop alone should be enough.

It would be interesting to see time differences in failures using Time.now.to_f to make th

[2016-11-15 23:40] brendon commented on #238
Thanks @fabn, I can't reproduce locally either. Might be something to do with Ubuntu/Linux itself. I tried adding the sleep and the tests still pass locally so I think timecop is working. I like your idea of converting them to floats (or `to_i`) first.

[2016-11-17 07:42] zedtux commented on #176
I am experiencing this issue. I'm using the gem version 0.8.2 in both: the gem and the app.

In the gem, I'm first requiring libraries like `acts_as_list` and then the models, and in the app, I tried multiples cases:

 - Automatically loading from the Gemfile
 - Adding `require 'acts_as_list'` in the model where come from the error
 - Adding `require 'acts_as_list'` in the `config/application.rb`

[2016-11-17 08:17] brendon commented on #176
Are you using Rails? If so, you shouldn't have to manually require `acts_as_list`. I'm afraid we'll need more information before we can help. It's likely to be something specific to your configuration.

[2016-11-17 09:05] zedtux commented on #176
Yes I'm using Rails, and my tries was just to be sure 😉

[2016-11-17 09:14] zedtux commented on #176
I'll try to give you as much as information as I can, but I'm limited as it is an enterprise application.

So first of all, the gem where the model is using `acts_as_list` has in the gemspec file the following:

[code]

And the class using `acts_as_list` is like this:

[code]

The gem is working fine here, I have Rspec and all is passing green.

Then in the application Gemfile I have the following

[2016-11-17 19:54] brendon commented on #176
Thanks @zedtux, my guess is that it's to do with the gemspec method of including the library? Perhaps the `require` differs from what happens in bundler? Or perhaps it doesn't happen at all?

Is there a reason why you can't use bundler to specify your dependencies? I've not done what you're doing before. When I've used engines/gems I've just specified all the dependencies in the master application

[2016-11-18 16:04] zedtux commented on #176
Well actually I have the dependencies here because I believed it is the right place to put them all. I can move them to the Gemfile with no problems if it's fixing my issue 😃.

I'll give it a try and let you know.

[2016-11-20 00:40] brendon commented on #176
Thanks :) That might might work for you I think. Even we specify our dependencies in the gem that way :)

[2016-11-21 10:33] zedtux commented on #176
@brendon here is the update:

In the gem, which is using `acts_as_list`, I have moved all the dependencies from the gemspec file to the Gemfile as the following:

[code]

I haven't removed the `require 'acts_as_list'` from the gem, otherwise Rspec is failing with the following:

[code]

Now in the Rails application using the gem, when I try to boot it I go the following output:

[code]

[2016-11-21 21:30] brendon commented on #176
That's pretty strange. I'm still confused as to why you need to require `acts_as_list` given it's already required in `init.rb` and then bootstrapped here: https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list.rb

I think the problem is a bit deeper. Is the gem accessible to to your gem? The error message seems to indicate that it isn't.

I'm not sure what to do from here...

[2016-11-22 09:13] zedtux commented on #176
_FYI I found [this](http://guides.rubyonrails.org/engines.html#other-gem-dependencies) from the Rails guide. It seems that the gem dependencies (not development one) shouldn't be in the Gemfile but in the gemspec. Also read [Clarifying the Roles of the .gemspec and Gemfile](http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/)._

Honestly I'm not mastering the loading

[2016-11-22 10:10] ddengler commented on #235
I can confirm this. Seems to happen as a combination of validate uniqueness and multiple requests hitting the servers at the same time. Currently we delay our requests (chain them to be serial requests) to prevent the deadlock issue.

[2016-11-22 20:18] brendon commented on #235
Thanks @ddengler, are you using the latest version?

We really need better locking I think. If you have any experience with that side of things we'd appreciate the help. I think there's an open issue about this.

@seanarnold, have you tried the latest version?

[2016-11-22 20:24] ddengler commented on #235
@brendon yes, we are using the latest version. I will ask someone on my team to have a look at it again. Might take a while, as we currently have the issue resolved and some other priorities to work on.

[2016-11-22 20:28] ddengler commented on #235
@brendon can you point me to the other open issue? I could not find it right away – only an old PR #135

[2016-11-22 20:57] brendon commented on #235
@ddengler, sorry I've had a look myself and can't find anything but that either. The discussion was around needing to lock all the records within a scope rather than just the record being updated (as we do now). This means that the shuffling that occurs when an item is moved will be atomic (is that the right term?). There is also an issue where the scope is empty but two threads attempt to create

[2016-11-22 21:10] brendon commented on #176
Thanks @zedtux, perhaps we shouldn't have the Gemfile.lock in the gem source? Not sure if this is the cause of the issue. Can you try manually removing it from the gem as installed on your machine and see if that helps. If so, we can remove it from the repo.

The gem works with Rails 4 and 5 and is tested against them across a range of Rubies and databases.

Reading through this: http://guides.rub

[2016-11-25 10:50] zedtux commented on #176
@brendon I did some tests and :

 - You do not have the Gemfile.lock in the repository
 - Removing the `init.rb` has no effect (Actually I'm sure you can remove it)
 - My issue is a loading order issue because I have added a `puts` in the `ActiveRecord::Acts::List.included` and when I have the error, the puts doesn't appear, while if I comment the line `acts_as_list` in my model, then I see the pu

[2016-11-25 12:00] zedtux commented on #176
The workaround I found is to include the `include ActiveRecord::Acts::List` in my model, like this:

[code]

[2016-11-25 23:42] brendon commented on #176
Hi @zedtux, I'm glad you were able to figure it out! If your model is stored in the engine (gem) but not namespaces (like it doesn't seem to be from your example), perhaps the main rails application initialisation process is attempting to load the model class before the gem has been through its initialisation process.

You could leave your solution as-is, or look at namespacing the model.

Perhaps

[2016-11-26 00:17] brendon commented on #176
@zedtux, I had a look at how the `ancestry` gem loads itself vs `acts_as_list` and there were some notable differences. `ancestry` injects its initialisation method `acts_as_ancestry` straight into `ActiveRecord::Base`.

I've create a branch: https://github.com/swanandp/acts_as_list/tree/Improve-load-method that emulates this method. Try using this branch in your project and let me know the outcom

[2016-11-26 03:51] brendon commented on #238
Fixed this in #240 and #241. The tests are green on master again :)

[2016-11-26 03:51] #238 closed

[2016-11-26 03:52] brendon commented on #228
@jmuheim, can you let us know where you're at, or close the issue if you've managed to sort it out :)

[2016-11-26 03:54] brendon commented on #176
Actually @zedtux, I was happy with the new initialisation method so I've merged it into master and fixed a few tests too. Still let me know how you get on though.

[2016-11-26 11:54] #239 closed

[2016-11-27 20:52] #226 closed

[2016-11-27 20:54] brendon commented on #209
Closing this for now. Let me know if you want to pursue it again @tinderfields.

[2016-11-27 20:54] #209 closed

[2016-11-27 20:55] brendon commented on #153
Hi @afn, can we move this one along? I'm keen to close it off :)

[2016-11-27 21:04] brendon commented on #131
Hi @fabn, just reviewing my code, I've been able to remove my scope overrides and am now about to just do this:

`acts_as_list :scope => [:ancestry]`

This is my `move` method:

[code]

[2016-11-27 21:06] brendon commented on #228
@jmuheim, I'm closing this for now. Let me know if you want to reopen it. Also, try `master` and see if that fixes the problem.

[2016-11-27 21:06] #228 closed

[2016-11-27 21:08] brendon commented on #234
@DavidVII, I'm closing this due to inactivity. Let me know if it's still a problem and we can reopen and investigate further. You'll also need to create a PR with a failing test case if you want us to look into it for you.

[2016-11-27 21:08] #234 closed

[2016-11-29 15:17] afn commented on #153
Sure! See https://github.com/swanandp/acts_as_list/issues/153#issuecomment-72109886 — I was waiting for some feedback on the preferred solution.

[2016-11-29 20:58] brendon commented on #153
Ah righty :) There was a recent PR accepted that dealt with disparate position integers. Could you give master a whirl and see if it still causes this problem?

[2016-12-06 19:23] jrochkind commented on #176
Can you give me a commit sha for "I was happy with the new initialisation method so I've merged it into master and fixed a few tests too", so I can later look to see what future released version includes it?

[2016-12-06 20:20] brendon commented on #176
Hi @jrochkind, current master is what you want. Here's the SHA of the actual commit: https://github.com/swanandp/acts_as_list/commit/4abf1371b243dbd3d924b74fc073e7da0952edbd

Once @zedtux gets back to me as to whether this fixed his problem, I'll look to release a new gem version.

[2016-12-07 07:27] zedtux commented on #176
Sorry @brendon I was very busy and forgot about this. I'll check it today.

[2016-12-20 13:42] mdesantis opened #245 "Broken with unique constraint on position"
On repositioning (`insert_at`, etc.) the position gets updated before updating the siblings positions, which conflicts with unique constraint on position column. Also `validates_uniqueness_of :position` conflicts.

The solution could be not trivial; one possibility could be using temporary negative positions while updating in order to avoid the conflicts.

[2016-12-20 22:11] zharikovpro commented on #245
Very specific option (if supported by DB, like in Postgres) may be to create that constraint with 'deferrable initial deferred' option, and making it nullable. That way constraint check should be postponed till the transaction end, when all positions are unique.

[2016-12-20 22:12] brendon commented on #245
Yes, this has been discussed in another issue. You're right in that it's non-trivial to accommodate. We'll certainly look into any PR's that attempt to solve it in a graceful way :)

[2016-12-22 14:19] zedtux commented on #176
@brendon I'm so sorry for the delay. I just tested and it seems to work! Good job 👍

[2016-12-22 18:39] brendon commented on #176
Thanks @zedtux :) That's good to hear :)

[2016-12-29 01:50] james-logan opened #247 "highter_items returns items with the same position value"
Hey, this isn't really an issue, just a question.

Is there a reason this [line](https://github.com/swanandp/acts_as_list/blob/53d0bd408d6cb904ed78fcb904895c7bc994985f/lib/acts_as_list/active_record/acts/list.rb#L159) is using `<=` and not just `<`

In the off chance that something in the database has a position value that is equal to another item in the list, it will show up in the list of 'highe

[2016-12-29 09:22] brendon commented on #247
Hi @james-logan, This was added with the extra constraint on the next line that excludes the current record. The assumption is that there may be other records with the same position value, and we assume that those records are higher than this record.

This concept is utilised in the move up/down logic too from memory.

I hope that helps explain it :)

[2016-12-29 09:23] brendon commented on #247
Feel free to close the issue or ask further questions :)

[2016-12-31 14:40] afn commented on #153
Yep, I think that PR took care of it. Thanks!

[2016-12-31 14:40] #153 closed

[2017-01-02 01:41] brendon commented on #153
Glad to hear it :)

[2017-01-04 16:31] nickpoorman commented on #92
Any updates on this? Did anyone manage to solve this?

[2017-01-23 01:03] #247 closed

[2017-01-23 01:03] brendon commented on #245
Closed by #246

[2017-01-23 01:03] #245 closed

[2017-01-24 18:46] jhawthorn opened #251 "DEPRECATION WARNING on rails 5.0 as of acts_as_list 0.9"
Since upgrading to `0.9.0`, I've been seeing this deprecation error on Rails 5.0.1:

The call to table_exists was added [here](https://github.com/swanandp/acts_as_list/commit/cb8dfb58824af0663ad5e5b113bd36d69954ce05#diff-b505f02d01ecca97ea8fa490cc4ae70aR7)

[2017-01-24 23:40] brendon commented on #251
Thanks @jhawthorn :)

@zharikovpro would you mind looking into how we can avoid this warning? Should just be a fork in the logic there I guess. I think we may have already done this elsewhere in the code already.

[2017-01-25 00:17] zharikovpro commented on #251
@brendon yes, will take a look and prepare PR. Should be an easy fix.

[2017-01-26 19:35] #251 closed

[2017-01-26 19:50] brendon commented on #251
All fixed @jhawthorn :) Thanks again @zharikovpro!

[2017-02-01 01:58] musaffa opened #253 "Getting invalid input syntax for uuid"
After upgrading from `0.8.2` to `0.9.1`, I'm getting this error:

[code]

`0.8.2` is generating this SQL which is correct:
[code]
But `0.9.1` is generating the following SQL statement:
[code]

The problem is at `"footnotes".id != uuid`.

[2017-02-01 02:29] brendon commented on #253
A stack trace will be helpful here. We need to figure out what particular method is generating this query. Either we're not quoting things properly on our end, or your `uuid` gem or method is returning a troublesome string.

We changed the methods used to generate these queries in the latest release to be more hash/array based instead of string based.

eg:
[code]

and

[code]

It's likely in the f

[2017-02-06 20:18] brendon commented on #253
Ideally I need the full stack trace not the SQL log as I want to know which particular arel method is causing the quoting.

Also check this out: http://ruby-journal.com/how-to-override-default-primary-key-id-in-rails/ it hints at rails not thinking that the id column is a string column. That should be where you dig next I think :)

[2017-02-07 06:22] musaffa commented on #253
Unfortunately the full stack trace didn't yield very useful result. With some debugging, I've figured where the problem is. It is in this [line](https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L333) like you suggested: :
[code]

`avoid_id` returns a string for uuid which is obvious because Rails cannot interpret `bdce4d08-fe0f-427b-bb2a-b7665a0dc4e8

[2017-02-07 06:37] musaffa commented on #253
In fact, any string based primary column will fail. A simple solution is to avoid quoting of any string type id values.

[2017-02-07 20:50] brendon commented on #253
Thanks @musaffa for the debugging :) I've committed a change to master that should work for you. Can you test your code against master and let me know how you get on?

We were quoting the value because we used to string interpolate the query. Now no longer :)

[2017-02-07 21:12] musaffa commented on #253
Now it's working. Thanks.

Will it work for integer types? I thought `quote` has been introduced as a [security feature](http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/Quoting.html#method-i-quote) against SQL injection attacks.

[2017-02-07 21:29] brendon commented on #253
Glad to hear that.

We're using the array method to supply arguments ['some sql = ?', the_value] so Rails will quote / escape that automatically. I'll release a new version.

[2017-02-07 21:29] #253 closed

[2017-02-15 11:35] ProGM opened #254 "Positions are repeating when creating items concurrently"
I'm using Rails 5.0.1 and acts_as_list v0.8.2 and postgresql.

When creating items in a list concurrently (like in concurrent xhr requests), positions gets repeating.

I tried to replicate in console:

[code]

[code]

I've temporarily set an unique index for [:article_id, :position] to fail when this happens, but it's really a big problem for me.

[2017-02-15 18:08] swanandp commented on #254
Hmm, this does seem to be a problem, and with threads.

Here is an example app I created, no UI, just specs to recreate the issue: https://github.com/swanandp/aal-position-test-example-app/commits/master

There is a failing test, with threads, and a passing test without threads.

[2017-02-15 18:11] swanandp commented on #254
Have a look at the commits, and try the tests out.

[2017-02-16 03:40] swanandp commented on #254
Since this is a threading and race condition issue, this can be 100% solved by using a lock on `article`.

https://github.com/swanandp/aal-position-test-example-app/blob/master/spec/models/paragraph_spec.rb#L47

[2017-02-16 03:42] swanandp commented on #235
Some of this can be solved by using a lock on the parent record.  Like in #254

[2017-02-16 05:49] brendon commented on #254
Good investigation @swanandp :) Is there anything we need to do in `acts_as_list` to help?

[2017-02-16 05:53] swanandp commented on #254
I don't think so, but let's wait to hear back from @ProGM before closing this out.

[2017-02-16 17:43] ProGM commented on #254
@brendon @swanandp I confirm that using a lock on the article solves the issue. 👍

I'm not sure of it, but... shouldn't this be something that the gem could manage itself?
I mean, it's pretty common to add elements to a list in a concurrent environment (in my case, I'm using the `puma` web server, that manages requests using threads).

Otherwise, if this is not something that the gem deals with, y

[2017-02-16 21:48] brendon commented on #254
I'm out of my depth on that one. @swanandp, what are your thoughts here? We could only lock the scope parent, but sometimes the scope isn't that simple (multiple parents etc...) so I don't think this would be an easy solution.

[2017-02-17 03:28] swanandp commented on #254
I agree @brendon, locking should be left to the application layer, not something acts_as_list should do on its own.  Because the context may differ for each app, and multiple parents would make it difficult to choose a pivot for locking.

But it won't hurt to add a few guidelines in the README about this.

@ProGM do you want to take a shot at this? I can edit, correct if needed.

[2017-02-17 11:12] jmuheim commented on #228
I'm sorry for not responding. The problem has disappeared with the newest version.

Thank you.

[2017-02-18 08:50] brendon commented on #228
Great to hear! :)

[2017-02-18 10:52] jmuheim opened #255 "Is there way to specify the position when creating a resource?"
Hello

I understand that I can move an existing resource using `insert_at`. But is there a way to specify the position of a resource right when creating it? Instead of adding it to the bottom, then moving it manually somewhere else?

Thank you.

[2017-02-18 22:48] brendon commented on #255
Yep just pass the `:position` attribute (or whatever you called it) :)

[2017-02-18 22:48] #255 closed

[2017-02-18 22:54] jmuheim commented on #255
Thank you!

[2017-02-18 23:55] jmuheim opened #256 "Move item X after item Y"
Another maybe stupid question which I just seem not to be able to find in the docs:

is there a way to specify that I want to move an element X after element Y? So I don't have to specify the exact position?

[2017-02-19 00:50] #256 closed

[2017-02-19 02:12] brendon commented on #256
The only way is to use the reference items position to set the new items position using `insert_at`. The reference item will be pushed out of the way.

[2017-02-24 00:00] CvX opened #257 "Rails 5.1.0.beta1 deprecation"
Rails 5.1 deprecates ActiveRecord's `changes` and other related methods (e.g. `attribute_changed?`). See: https://github.com/rails/rails/commit/16ae3db5a5c6a08383b974ae6c96faac5b4a3c81 and https://github.com/rails/rails/commit/ef993d36bc952046f312a3695617eaa6d5fe352e

Here's one of the warnings:
[code]

Deprecated use in this gem is here:
https://github.com/swanandp/acts_as_list/blob/master/lib/ac

[2017-02-24 00:54] brendon commented on #257
Hi @CvX, thanks for bringing this to our attention :)

I like to branch based on Rails version in cases like these because that's the determining factor, and the core reason why we're branching. It helps later on when we go to remove support for older Rails versions as we don't then have to figure out when/why the change was implemented.

An example: https://github.com/swanandp/acts_as_list/blob/f

[2017-02-27 04:55] #257 closed

[2017-03-29 00:04] brendon opened #263 "Be more precise with unscope-ing"
Hi @fabn, I was wondering if you could travel back in time and give a bit more detail as to your intention with this commit?:

https://github.com/swanandp/acts_as_list/commit/4a45dca9bf9059ce5491d2bb576e7f7eed9cd82c

I've been having deadlock issues around the `:order` scope being cleared in `aal` updates (e.g. shuffling the table) vs other updates where the `default_scope` is kept intact.

What d

[2017-03-29 01:42] yatish27 opened #264 "acts_as_list_class.maximum(position_column) is causing the entire table to lock"
[code]

[This line][1]  is causing to load/locking the entire table. It causes the following query:

[code]

This is a huge performance issue, if the table is large. We should either remove the temporary position setting or use scope which is attached to acts_as_list for that class.

Maybe we can also add `acts_as_list_class.where(scope_condition)` before calling `maximum`.

[1]: https://github.co

[2017-03-29 12:49] fabn commented on #263
Hi @brendon, I think you are right, `.unscope(:where)` should be enough, but it will mean to drop compatibility with rails 3 since that method is only available with rails >= 4.0.

Maybe [except](http://apidock.com/rails/ActiveRecord/SpawnMethods/except) could help to preserve rails 3 compatibility.

[2017-03-29 14:26] swanandp commented on #264
_Updated original comment with slightly better formatting_

[2017-03-29 14:27] swanandp commented on #264
@yatish27 Either @brendon or I will look into this shortly.

[2017-03-29 14:28] swanandp commented on #263
I will get to this shortly.

[2017-03-30 10:06] brendon commented on #263
I've had good success with this PR. Let's see how the CI runs for all scenarios. I had to `.reorder` instead of `.order` but again, that's less of a blunt instrument.

[2017-03-30 20:44] yatish27 commented on #264
@swanandp @brendon Any updates on this one ?

[2017-04-01 09:52] brendon commented on #264
Hi @yatish27, this original change came in through another contributor's PR.

Thanks for your patience on this. Let me know if the new PR works for you.

[2017-04-02 20:55] #264 closed

[2017-04-02 20:55] brendon commented on #264
@yatish27, this should solve your problem. Let me know if not.

[2017-04-04 03:22] #263 closed

[2017-04-06 17:44] mdesantis opened #267 "Unique constraint violation on move_higher, move_lower, destroy"
acts_as_list 0.9.5.

I noticed that some issues related to unique constraints have been closed. Should acts_as_list play friendly with unique constraints now? Otherwise I could open some issues about, since move_higher, move_lower, destroy raise errors on my app.

[2017-04-06 19:12] zharikovpro commented on #267
Primary target was insert_at. Thus, methods you described can still have issues. They probably could be fixed based on that PR as example: #246 , see[ #insert_at update](https://github.com/swanandp/acts_as_list/pull/246/files#diff-708784f0c89e5cdbdd54e18d2b2243d1R375).

[2017-04-06 19:14] zharikovpro commented on #254
Also, you can add table constraints to raise exception in case of attempt to insert duplicate values. It will act like safety net. And then you will need proper locking implementation to never trigger this, for sure.

[2017-04-06 21:13] brendon commented on #267
@mdesantis, If you feel up to it, have a go at doing a PR for this. @zharikovpro is correct in that you should be able to borrow the techniques used in `insert_at` to fix the problem. Please add tests to make sure the fixes are carried forward correctly.

[2017-04-07 05:39] swanandp commented on #254
I second that. Always, always use the DB ensure data integrity!

[2017-04-07 15:26] mdesantis commented on #267
Well, since I use PostgreSQL I actually solved the problem setting the unique constraint as DEFERRABLE INITIALLY DEFERRED. Here the migration, someone might need it:

[code]

[2017-04-08 00:43] brendon commented on #267
Ah ok :) I'm sure that'll help those that need it. Unless someone wants to put in a PR on this one I'll probably close it for now as it's not an overly common situation. Are you ok with that?

[2017-04-08 01:29] mdesantis commented on #267
I'll close it for you ;) at least we have a nice fix for PostgreSQL... poor MySQL users! I'm so sad for them :DDD

[2017-04-08 01:29] #267 closed

[2017-04-08 03:03] brendon commented on #267
lol I wish I could quit MYSQL

[2017-04-10 19:59] mattscilipoti opened #268 "ActiveRecord associations are no longer required (even though belongs_to_required_by_default == true)"
I'm using Rails 5.0.2, `belongs_to_required_by_default = true`.  I have tests that verify my important associations are required.

After upgrading from 0.8.2 to 0.9.5, the specs in my app that ensure associations are required began to fail.  I identified that it happened during the transition to 0.9.0.  I attempted to test this within acts_as_list, but was not successful.  Instead, I referenced ac

[2017-04-10 22:03] Loremaster opened #269 "Why does acts_as_list override rails validation on it's own field?"
Example:

[code]

It gives:
[code]

If I remove `acts_as_list` from the model then validation works properly:
[code]

I find such behaviour very confusing. Why does it work like that? Is there any way it can be fixed?

[2017-04-10 22:22] brendon commented on #268
Hi @mattscilipoti, the diff's in that PR are messed up. There's actually very little that changed apart from where things are required from and how the `acts_as_list` method is added to `AR::Base`.

It might pay to try another diffing application to see if that provides more clarity on the change that caused the problem. I use Diffmerge on the mac but there are other good ones too.

What we really

[2017-04-10 23:42] brendon commented on #269
We don't do anything to the validations. However, we do do a lot when `position` is set via attributes. Perhaps in the process of setting the position we're making it fit your conditions? Have you tried calling  `Category.new(name: "123", position: -1).position` before and after calling `valid?`.

[2017-04-11 20:34] mattscilipoti commented on #268
Thanks!  I'll try some other diff viewers.  I tried to replicate the problem with a fresh Rails app: https://github.com/mattscilipoti/test_belongs_to_required_by_default.  No luck so far.  I'll try some various appraisal configs next.

[2017-04-11 20:47] brendon commented on #268
That's interesting. Take a look at your initialisers. Because we changed the order of loading (I think it's earlier now) that could be causing grief with something that didn't expect it to be loaded yet?

[2017-04-12 13:48] mattscilipoti commented on #268
I've tried a few things:

In the test project:
- added Appraisals (with/without acts_as_list).  All tests still pass (I expected them to fail).
- used Gemfile from failing project in test project.  [All tests pass](https://travis-ci.org/mattscilipoti/test_belongs_to_required_by_default/branches) (again, those with acts_as_list were expected to fail)

In the "failing" project:
- removed all initial

[2017-04-12 23:47] brendon commented on #268
Yes that is very strange. I suspect something non-standard in the initialisation routine in you project.

If it's been through a few rails versions and you haven't done the following, I'd suggest giving it a go:

I usually will generate a blank rails project with all the settings (mysql as db engine) etc... set as flags on the rails command so you get everything set up as it should be (skip the bu

[2017-04-20 00:04] seanwash commented on #254
This thread has been helpful to me as well! I'm working on safeguarding things now, but I have run into this issue where indexes are duplicated and the only way to fix things is to reset them all.

[2017-05-04 17:38] aadill77 commented on #131
Hi all, I am also expecting similar issue with acts_as_paranoid and acts_as_list.
I have already asked a question on Stack Overflow on the matter. Would be glad if I can get some help Here. Thanks.
http://stackoverflow.com/questions/43788773/acts-as-list-with-paranoia-gem

[2017-05-10 20:56] #268 closed

[2017-05-10 20:57] brendon opened #273 "The NoUpdate code rely's on AS::Concern"
Remove reliance on `AS::Concern`

[2017-05-10 22:31] #273 closed

[2017-05-10 22:32] brendon commented on #269
@Loremaster, check if the master branch solves your problem. I think this is related to https://github.com/swanandp/acts_as_list/pull/272.

Please let me know the outcome.

[2017-05-11 10:00] BookOfGreg opened #275 "Updating the position fails uniqueness constraint."
Hi team,

### Problem
`insert_at`, and potentially other methods in this gem, generates SQL that breaks uniqueness constraints.

### Solution
`insert_at` should order the sortable field highest first to avoid collisions.

### To Reproduce
Given this table (Server version: 10.1.22-MariaDB , Pretends to be MySQL 5.7.x)
[code]
And this matching ActiveRecord class
[code]
The insert_at generates the SQ

[2017-05-12 01:42] brendon commented on #275
Hi @BookOfGreg, can you tell me if you're using the `:sequential_updates` option. If not, try that and see if it fixed things.

`acts_as_list sequential_updates: true`

Though @swanandp, I suppose it can't hurt to update in descending order anyway. I've tested it and all the tests pass still. What do you think?

[2017-05-12 06:10] swanandp commented on #275
Agreed @brendon , though we should add this specific test case against it as a failing spec.

[2017-05-12 09:53] BookOfGreg commented on #275
@brendon I wasn't using that option but just chose to roll my own for now as I was only using a small subset of this gems functionality.

I found that if you move things up the list, I needed it in `:desc` order, if you move it down the list I needed `:asc` order. Also since I had a `default_scope` with an `order`, I needed to `reorder` to override it.

[2017-05-14 23:04] brendon commented on #275
Hi @BookOfGreg, it's not the default because it wasn't in the past and most people don't run a unique constraint on this column I think, though perhaps they should. I personally don't.

Would you be keen to create a PR for us with tests for this change? Reordering in the correct direction is definitely fine, and we always `reorder` anyway to remove existing order scopes as you can see elsewhere in

[2017-05-17 17:44] BookOfGreg commented on #275
Maybe this deserves to be a separate issue but the gem doesn't seem to be reordering, when running with sequential updates I'm still seeing this error containing my default order scope:

[code]

I'll be digging more into this in a couple days.

[2017-05-17 21:14] brendon commented on #275
That's interesting. Yes do some more digging. I'm wondering if the sequential updates thing will even be necessary if we make the database shuffle things in the correct order?

[2017-05-29 08:28] cloudy9101 opened #276 "Can we don't use remove_from_list when destroy a lot objects?"
In my case, a many to many relationship between user and project through access table, and user can custom order his projects. So I use acts_as_list in the middle table access. But when a project is destroy, I want destroy all the accesses in the project. Because access use acts_as_list, I need invoke remove_from_list with each access. When a project has a lot accesses, it's very slow. Is there an

[2017-05-29 08:32] swanandp commented on #276
You can use `dependent :destroy` on your relationship model.

e.g.

[code]

[2017-05-29 08:32] swanandp commented on #276
This way, when you delete project, `user` remains, but their association is destroyed.

[2017-05-29 08:34] brendon commented on #276
Haha! You're quick off the mark today @swanandp! :)

[2017-05-29 08:42] swanandp commented on #276
Oh the power ( or peril ) of notifications!

[2017-05-29 08:52] cloudy9101 commented on #276
I know, but when there are 1000 user_projects, we will execute the 'update position - 1' sql for 1000 times. I think it's too slow. Is that right? 😞

[2017-05-29 09:35] brendon commented on #276
@cloudy9101, are you using the latest version of `acts_as_list`? We try to detect a destroy via a parent relationship and skip those updates given all the children in the scope get deleted anyway. You need to use `dependent: :destroy` though.

[2017-05-29 10:00] cloudy9101 commented on #276
@swanandp @brendon  Thanks for the response.
I saw the [code]( https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/callback_definer.rb#L7), but I think this will make the list's position discontinuous like [0, 1, 3, 4, 5], and when use insert_at, it will make some mistake, because the param use with insert_at is come from frontend, I'm not sure that you could u

[2017-05-29 20:57] brendon commented on #276
Thanks @cloudy9101, some code would be good. Show us a simplified set of models and the methods you're trying to execute against them.

[2017-05-30 03:37] cloudy9101 commented on #276
Just like the example @swanandp  shows, I make some changes.
[code]
Sometimes the project.users.count is very large, it will be very slow.  Is the use case too odd？ 🤣

[2017-05-30 05:57] brendon commented on #276
Unfortunately I think it's the only way if you want the positions to remain consistent (without gaps). Perhaps you could offload it to a `delayed_job` or something like that?

[2017-05-30 06:05] cloudy9101 commented on #276
OK, I will consider it. Thanks a lot. I will close the issues.

[2017-05-30 06:05] #276 closed

[2017-05-30 07:33] brendon commented on #276
Thanks @cloudy9101, sorry I couldn't be of more help.

[2017-05-30 17:22] scottmalone opened #277 "Enum does not scope correctly"
Env: Rails 4.2.0, acts_as_list (0.9.5), postgresql.

### Problem

Scope not working with enum resulting to enum being set to 0.

### Solution

Change assignments within #check_scope to send to the setter.

[code]

The existing enum test in test_list.rb doesn't catch the issue because the assignment using `self[attribute] = values[0]` always assigns as 0 since the enum value of "active" or "archive

[2017-05-30 21:34] brendon commented on #277
Hi @scottmalone, that sounds interesting! Would you be interested in writing a Pull Request for us with a test? Doesn't sound like it'll be too hard :)

[2017-05-31 19:04] wvteijlingen opened #278 "undefined method `+' for nil:NilClass"
I'm getting a `NoMethodError (undefined method `+' for nil:NilClass)` in ` acts_as_list (0.9.5) lib/acts_as_list/active_record/acts/list.rb:400:in `update_positions'` when updating positions.

I first thought it had to do with null values in the position column, but this also occurs when values actually exist.

[2017-05-31 22:37] brendon commented on #278
Hi @wvteijlingen, I'm afraid we'll need a bit more information than that. Can you show us your class setup?

This is the failing line:
[code]

If you can do some logging (download the gem locally and include it in your `Gemfile` manually) to see which of the two methods above is returning nil that would he helpful. Also what methods you execute to generate the error.

[2017-06-01 15:16] scottmalone commented on #277
No prob @brendon, I'll do that.

I ran into a separate issue that's really confounding me w/ model specs not updating correctly but request specs doing fine (yes, using test_after_commit).  Would you prefer I open another issue or go straight to a separate PR?

[2017-06-01 21:39] brendon commented on #277
Thanks @scottmalone, yes open another issue then if you do a PR just mention that it closes that issue in the description and that should handle linking things together.

[2017-06-02 08:32] wvteijlingen commented on #278
Sorry for the lack of information, I didn't have much time. I've looked into it now and found the problem. Turns out someone added a `attr_accessor :position` to our model. This caused the `item.position` call in the `bottom_position_in_list` method. It's fixed in our codebase now.

However, maybe for the future it would be nice to catch this edge case in acts_as_list. Perhaps some logic like:

[c

[2017-06-02 09:36] brendon commented on #278
Thanks @wvteijlingen. I don't think it's reasonable to guard against everything like that :) Sometimes mistake like that one just slip in. Luckily, they're not without major errors most of the time which has led you to find a solution :) This issue will also help someone else in a similar position in the future :)

Thanks for following this up and keeping us updated :)

[2017-06-02 09:36] #278 closed

[2017-06-02 14:13] wvteijlingen commented on #278
No problem, I can understand.

I just think it would be good practice to make sure that a method will return nil if it should return an integer. And if it can return nil for some explicitly documented reason, to have a check for that in the caller.

[2017-06-05 21:08] brendon commented on #278
I get what you're saying. In this case, barring something hacky like `att_accessor` overwriting a method, we can safely expect `position_column` to always return an integer.

[2017-06-07 18:07] stepheneb commented on #254
This thread was very helpful. Just had this issue with a model with multiple parents -- so there is no obvious way acts_as_list could have prevented problem.

Problem occurred when creating multiple objects as a result of a drag and drop files as part of a bulk import feature invocation.

I solved it by creating list objects in a  `with_lock` block, thanks @swanandp for the tip.

Am using Postgres

[2017-06-07 18:17] zharikovpro commented on #254
@stepheneb you can create compound unique index:

`CREATE UNIQUE INDEX position_on_parent_idx ON items (parent_id, position)`

[2017-06-12 05:47] swanandp commented on #254
The only change I'd suggest over this is to use CONSTRAINTS,

[code]

This allows you to utilise features like `on conflict ... update ...`, popularly known as "upsert"

[2017-06-14 07:24] #277 closed

[2017-06-15 02:36] patrickdavey commented on #131
I have just experienced this issue using `ancestry 3.0` and `acts_as_list 0.9.5` (on a rails 3.2 codebase).

I have no experience of the internals of either of these gems, but, getting this bug fixed is pretty important to me. If I [take a copy of the PR](https://github.com/swanandp/acts_as_list/pull/132) and try to fix the merge conflicts would someone be available to review? (not sure that I'll

[2017-06-15 03:19] brendon commented on #131
Hi @patrickdavey, I'm happy for you to have a go at getting the patch working with master. `acts_as_list` is a fairly simple codebase. The tests are super easy to run. We use `appraisal` to run across multiple rails versions but just running `bundle` then `rake` should install the required gems and execute the tests provided you're on a decent ruby version.

Correct, in that I get by with just the

[2017-06-23 11:35] redbar0n commented on #57
I fixed this problem by making a rake task (as DB updates generally shouldn't be done in migrations). See: https://stackoverflow.com/a/15531843/380607

[2017-07-04 05:09] patrickdavey commented on #131
@brendon I have had a play with this, but, I haven't got very far. We then went with `closure_tree` as that handles the ordering and nesting etc. (it has its own performance issues, but, that's life).

If I get some more time I'll try and fix it.

[2017-07-04 08:11] brendon commented on #131
All good @patrickdavey. I remember looking at `closure_tree` for a new project but got freaked out from memory. I can't remember why. I ended up with `ancestry` and `ranked_model` though unfortunately `ranked_model` seems to be unmaintained at the moment. Perhaps I shouldn't have cheated on `acts_as_list`! ;)

[2017-08-10 07:10] brendon commented on #275
Hi @BookOfGreg, how did you get on with this?

[2017-08-10 07:10] brendon commented on #269
@Loremaster, can you give me an update?

[2017-08-10 07:12] BookOfGreg commented on #275
Rolled my own, was much easier than using the gem unfortunately.

[2017-08-10 07:16] brendon commented on #235
@seanarnold I recently removed the only lock that we do in `acts_as_list`. I'd be interested to see if this fixes your deadlock issue.

[2017-08-10 07:18] brendon commented on #275
All good :) I'll close this for now.

[2017-08-10 07:18] #275 closed

[2017-08-10 18:46] danielricecodes commented on #277
Has this been released in an official gem release yet?

[2017-09-06 22:23] patrickdavey commented on #131
Well @brendon I ran into [a nasty bug](https://github.com/ClosureTree/closure_tree/issues/240) which brought production to, while not a halt, a bad place ;) So.. now I'm thinking I shouldn't have cheated on `ancestry` and `acts_as_list` ;)

[2017-09-06 23:42] brendon commented on #131
Lol! Come back home man!

[2017-09-26 19:13] cmentch opened #285 "Deadlocking in update_positions count query"
I have a larger database where I am using acts_as_list on various models. I have started seeing increased deadlocking on a specific count query. The stack dump revealed it was from the method "update_positions". This is being called from an after_update trigger on the model. Even if I am not updating the ordering column, this method is still firing off which seems unnecessary. Is there a need to t

[2017-09-26 23:27] brendon commented on #285
Hi @cmentch, Thanks for picking this up. I've committed a change to `master` that checks if the position has changed first before going through with the callback. It tests out well locally, and let's see if the CI passes. Can you have a go using `master` and see if you get the deadlocks still?

[2017-09-27 00:42] brendon commented on #285
There was some trouble with Timecop. I think I've fixed it, so we'll see :)

[2017-09-27 15:23] cmentch commented on #285
Thank you for the quick response. I have pointed this to master in my Gemfile. It looks like it is no longer performing the count query when the ordering column is not updated. Perfect!  I won't be able to try this out in production yet.  When do you formally publish a new version of the gem?

[2017-09-27 19:19] brendon commented on #285
I'll just get @swanandp to take a quick look. @swanandp, I can't see any problems. The tests pass.

[2017-09-27 19:21] brendon commented on #285
@cmentch, ping me back if we don't hear anything from @swanandp within a few days.

[2017-09-28 08:46] swanandp commented on #285
@brendon https://github.com/swanandp/acts_as_list/commit/75ec5b9b3a7e72a35bc5bd95ca9061d44ece2a76

Looks good. 👍

[2017-09-28 21:49] brendon commented on #285
Roger. I'll release a new version @cmentch :)

[2017-09-28 21:49] #285 closed

[2017-10-03 19:19] brendon commented on #269
Closing because of inactivity. Feel free to request that I reopen it @Loremaster.

[2017-10-03 19:20] brendon commented on #235
@seanarnold, we made a change the other day (released as the latest version of the gem) that removed another point of contention. Can you try the latest gem to see if your deadlocks subside?

[2017-10-16 11:58] goalaleo opened #287 "Make insert_at respect position when creating a new record"
**Request**

Currently the position of a new record uses the `add_new_at` value. Is it possible to make new records respect the parameter given to `insert_at`.

Example:
[code]

[2017-10-16 20:01] brendon commented on #287
Hi @goalaleo, you can actually just pass the position you want into the `.new` method:

new_dog = Dog.new(person: person, name: "Second Dog", position: 1)

Acts As List will shuffle things around so that your new object has that position and the others don't. `insert_at` is for existing records either in this scope or any other scope.

I hope that helps. I'll close this for now but let me know if

[2017-10-16 20:01] #287 closed

[2017-10-17 10:41] goalaleo commented on #287
@brendon ok, thanks 👍 ! I still feel like the naming of `insert_at` is a bit misleading, as it does work on new instances, does a literal insert DB operation, but doesn't actually insert the record to the given position :/ Either way, great gem!

[2017-10-17 19:20] brendon commented on #287
@goalaleo, yes you're right. It should probably be named `reposition_at` or something like that though that would break the api and I think this method has been around since the beginning. @swanandp, did you have any thoughts on this one?

[2017-11-06 13:26] fnordfish opened #289 "Position update issue when creating with explicit positions"
Given the models, where the `Product` has many `ProductImage` (which "acts_as_list").

When creating some referenced object and set the position explicitly (in random order), the positions will not be homogeneous:

[code]

When creating in reverse order (positions [3,2,1]):

[code]

Of course, creating in correct order works just fine.

[2017-11-06 20:53] brendon commented on #289
Hi @fnordfish, that's an interesting one. Do you have time to dig into the code and find out why this is happening? Start a PR with one or two failing tests and let's see where it goes :) I'm a bit stretched for time over the next two weeks.

[2017-11-07 11:43] fnordfish commented on #289
Hi @brendon , here is a very first step in fixing this: https://github.com/fnordfish/acts_as_list/commit/90f38c2cdef5a2fafb351bc79ea28a93cceeae8e

There are probably a ton of tests missing to make this an actual fix.
The underlying problem is, that when inserting a new "higher" position triggers an increment of all "lower" ones (pushing them even lower). Which makes sense, if that new position wou

[2017-11-07 23:02] brendon commented on #289
Thanks @fnordfish, ah yes we've had that raised in the past. It also is a concern when there is two items with the same position in a scope. There's nothing to rebalance those at present. We can certainly work toward not incrementing items above or below if there is an integer space there. Why don't you turn this into a PR and we can go from there. Keep contributing if you want, but I'll be unable

[2017-11-08 02:57] jaredmoody commented on #118
I'm experiencing this issue on v0.9.9 - deleting the parent object that has `dependent: :destroy` on it or `parent.children.destroy_all`  gives me an `ActiveRecord::RecordNotFound` error.

[2017-11-08 07:53] brendon commented on #118
Hi @jaredmoody, can you do a PR with a failing test case?

[2017-11-17 21:45] jeffreyguenther opened #290 "Passing raw strings to reorder deprecated in Rails 5.2"
I'm using `acts_as_list` in a project running on rails/master. The following deprecation warning is being provided:

[code]

Looking at [line 283](https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L283), it appears that the reorder call could be simplified with the hash order syntax. I haven't read through the whole codebase yet to verify this will wo

[2017-11-19 20:07] brendon commented on #290
We specify the full table name and column name due to a namespacing issue someone had in the past. I can't quite remember much about it but it's somewhere in the Issues section. It might have had something to do with joins and both tables having a position column? Does Rails handle this well now?

Anyway, perhaps this needs exploring. I'd prefer your first method but we just need to be sure we're

[2017-11-20 05:47] andrewhao opened #291 "Unscoping breaks STI subclasses, but is soon to be fixed in Rails"
Upstream Rails (5.1.x) has a just-fixed issue where calling `unscoped` breaks any models that use STI (https://github.com/rails/rails/pull/29199) due to the `type` condition in the where clause being removed.

This isn't really an issue, but I just wanted to flag this in case someone else stumbles across this.

Temporary workaround is to add a `type: 'Subclass'` field in the scope definition:

[co

[2017-11-20 19:58] brendon commented on #291
That's a tricky one hey? We could just unscope the fields we care about? If you wanted to take a look and see if there's anything we can do from our end, please do :) My timetable is full for the next 4 weeks or so unfortunately so I can't look very deeply at this.

[2017-11-24 15:35] bsylvain commented on #291
I had the same problem. If you had :
`acts_as_list scope: :some_container`
you can do (same context as first example) :
` acts_as_list scope: [:some_container, type: 'SpecialThing']`

[2017-12-04 04:46] cipater commented on #131
Having the same issue as OP with acts_as_list + ancestry.

Taking the `scope_changed?` suggestion above I came up with a quick'n'dirty hack that seems to be working well for me:

[code]

[2017-12-04 05:48] brendon commented on #131
Hi @cipater, can you come up with a failing test for `acts_as_list`? We can then look at fixing this. I use ancestry with acts_as_list as I mentioned further up the comments and don't have any problems just using the array type scope definition. Are you on the latest version?

[2017-12-05 23:59] trackedsupport opened #293 "remove_from_list causing "wrong number of arguments (given 2, expected 0..1)""
I noticed when I call remove_from list or destroy this error happens. It could very well be something I'm doing since I don't see anyone else having this issue. Does anyone know why this would occur?

 "wrong number of arguments (given 2, expected 0..1)"

[2017-12-06 00:16] brendon commented on #293
Hi @trackedsupport, can you provide us with a stack trace? Be sure to format it as code in the post so it's easier for us to look at :)

I suspect it'll be some configuration or usage error on your end though at this stage.

[2017-12-07 02:30] trackedsupport commented on #293
There's really not much of a stack trace to show. I don't actually see a stack trace showing acts_as_lists classes, only my own classes. But it seems to all point to that one method. I only got the error one day so maybe there was an issue with the server and multiple requests hitting at the same time. I'm going to close for now since it sounds like an issue on my side. Thanks!

[2017-12-07 02:30] #293 closed

[2017-12-07 02:46] brendon commented on #293
Ok, make sure you select Application from the error screen to show the entire trace and not just the files from your application. Then you'll see the acs_as_list lines referenced.

[2017-12-12 00:04] trackedsupport commented on #293
I coudn't reproduce but i configured it so exception notification would inform me of the full backtrace. Could it be an issue with one of these dependent destroy callbacks? Ive never seen this before! Thanks again for any help!

[code]

[code]

[2017-12-12 20:31] brendon commented on #293
Sorry man, there's not enough information there to help me figure out what the problem is. If you can get it breaking again, and get a full stack trace let me know. I suspect it might be an issue specific to your application but if you find otherwise I'm more than happy to take a look provided you can get me a good amount of info on the issue :D

[2017-12-20 08:41] #290 closed

[2018-01-08 18:57] juggy opened #295 "Nil Polymorphic Association"
Hello -

I have this weird deadlock error that keeps coming back. I narrowed it down to acts_as_list. I am using the latest version.

Here is the definition

[code]

So far so good. But the rails app assigns the attachable in 2 steps (2 distinct controller actions):
- create the file
- assign it to the attachable

Within the first, it uses the `acts_as_list_no_update` to avoid unnecessarily positi

[2018-01-08 21:38] brendon commented on #295
Hi @juggy, that's an interesting problem. Would you like to put together a failing test in our suite so we can get a better idea of where things are going wrong?

In the past I've overridden the scoping methods that are defined here: https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/scope_method_definer.rb

There are 3 of them. If you have complex scope situa

[2018-01-13 20:30] jonhue opened #296 "`add_new_at: :top` does not work"
[code]

[code]

Whenever I create new records (either using `add_new_at: :top` or by manually utilizing `insert_at(1)`) the `position` of existing records does not get adjusted. What am I doing wrong?

[2018-01-15 21:40] brendon commented on #296
Off the top of my head I think you're supposed to specify the full column name when using the array scope syntax:

[code]

Let me know if that doesn't work.

[2018-01-16 06:06] jonhue commented on #296
Thanks for your help @brendon ! Works perfectly

[2018-01-16 06:06] #296 closed

[2018-01-17 09:49] hot-cheese opened #297 "Cannot create item at position 0"
Current setting: `acts_as_list scope: :parent_id, top_of_list: 0`
Creating record with `position: 0` places it at the other end of collection, e.g. having 5 records (positions 0..4) it's placed at position 5 instead of 0.
Using `acts_as_list scope: :record_id, top_of_list: 0, add_new_at: :top` makes it possible to place records at position 0.

[2018-01-17 21:06] brendon commented on #297
That's not a bug, that's by design. The first settings tells `acts_as_list` to use `0` based indexing instead of the traditional `1` based indexing. The second settings tells `acts_as_list` to add new items to the top of the list rather than the bottom.

[2018-01-17 22:26] hot-cheese commented on #297
But is it forbidden to place the item at the position 0 (with the first setting)?
The consequence of this design is that item that was created first stays forever at position 0. This is because no newly created item can take its place.
In my opinion only passing no position should make use of the `add_new_at` option.

[2018-01-17 22:28] brendon commented on #297
Would you be able to fork and create a failing test in our test suite for this issue? That'll help us get a better idea of what the problem is and then work toward a solution :)

[2018-01-19 07:33] Zmokizmoghi opened #298 "Cannot update record position when scoped to enum"
[code]
[code]
fails with
[code]

Ruby version: 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]
Rails version: 5.1.4
Sysytem: OS X 10.13.1

[2018-01-19 07:43] brendon commented on #298
Hi @Zmokizmoghi, have a bit of a dig through the documentation. `acts_as_list` always appends `_id` to the scope if you supply a symbol. Supply an array instead [:position]. In saying this, I don't know how you'll get on with your current use case. Using the column name `position` for starters, and then it being an enum… I guess you can only try :)

[2018-01-19 09:59] Zmokizmoghi commented on #298
Hi @brendon, thanks for explanations, and for this great gem also ;-)

[2018-01-19 09:59] #298 closed

[2018-02-07 15:47] davidwessman opened #299 "Rails 5.2.0"
When will the [changes](https://github.com/swanandp/acts_as_list/commit/28118105775acd3a967358a2c5f576a607165ab6) made to remove deprecations be released as a new version?

[2018-02-07 20:04] brendon commented on #299
Hi @davidwessman, I'll drop a new gem today for you. Just setting up my new machine so trying to settle that first :)

[2018-02-07 20:50] brendon opened #300 "Dropping jruby support"
Hi @swanandp, I was wondering what you thought about dropping official `jruby` support? We've always had trouble keeping the test suite working with it and it's often broken outside of our control.

Just a thought :) I hope you had a great Christmas break and an easy start back into work :D

[2018-02-08 14:04] swanandp commented on #299
I was just thinking about this a few days ago.  We're not exactly following semantic versioning, I guess it's about time we did a 1.0 release.

Maybe after one round of cleanup of higher impact existing issues & PRs we can do a 1.0 release.

For now, let's do a point release and move on.

[2018-02-08 20:55] brendon commented on #299
Will do :) Unfortunately I've not been successful yet in getting a test suite running for Rails 5.2. It's probably to do with bundler but I'll work on getting that green before releasing.

[2018-02-09 20:10] brendon commented on #299
Hi @davidwessman, I was wondering if you could take a look at: https://travis-ci.org/swanandp/acts_as_list/builds/339359508

For some reason Rails 5.2 is failing across all rubies though locally I can get it to work fine. If you have any ideas I'd love to hear them :) The error message doesn't give much to go on :(

[2018-02-09 21:41] brendon opened #301 "Switching to Semaphore"
Hi @swanandp, I was wondering what you thought about switching to Semaphore CI? I use it for my personal projects and it's really good. I nice feature is easy access to SSH sessions for build so one can debug them (not so easy on Travis with public projects). They're free for OS projects too.

[2018-02-09 23:39] brendon commented on #299
ok, I've got it all passing except for jruby. Just pending @swanandp's decision on dropping official support for that platform...

[2018-02-10 11:41] davidwessman commented on #299
@brendon Sorry I did not see this before - great that you got it to work! :)

[2018-02-12 07:19] joshuapinter opened #302 "Setting `position: nil` on update returns `Column 'position' cannot be null` instead of putting the item at the start or the end of the list, like it does on create."
When creating list items, if you set `position` to `nil` it either places the new item at the start or end of the list, depending on what you have set for `add_new_at`.

However, when updating an existing list item, if you use the same technique of setting `position` to `nil`, it does not move it to the start or end of the list. Instead, you get a database error because `position` cannot be `NULL`

[2018-02-12 07:37] brendon commented on #302
Hi @joshuapinter, the NULL validation error is coming from your decision to enforce that at the database level. If you do want the position to be nullable then you'll need to write a migration to remove that requirement in your database.

If instead you want the item to assume the top (or bottom) of the list, you can use the `move_to_top` and `move_to_bottom` methods on the existing record.

I hop

[2018-02-12 08:00] swanandp commented on #300
@brendon I will take a shot at debugging and fixing JRuby build, until then let's add a warning and continue supporting it.

[2018-02-12 08:01] swanandp commented on #300
Closing this for now, because I do want to keep supporting `jruby`.  If it's completely outside our control, we can let someone in the jruby team know about it, they are usually good about these things.

[2018-02-12 08:01] #300 closed

[2018-02-12 08:07] brendon commented on #300
Thanks @swanandp. I'm happy for you to tackle that one. It appears there is some code failures relating to some recent PR's and a LOT of warnings. :)

[2018-02-12 19:40] joshuapinter commented on #302
Hi @brendon. Thanks for the quick reply!

You're definitely correct. I'm curious why this works fine when creating but doesn't work when updating?

For example, if I pass a blank value to `position` in a `create` action, it puts it at the end of the list. But when doing the same for an existing record (i.e. edit a record, set a blank value for the `position`) it complains about a `NULL` value for

[2018-02-12 20:24] brendon commented on #301
Further to this, I'll need you to do the following steps @swanandp as I don't have access to the settings area:

If you're keen to go ahead with this let me know :D

[2018-02-12 20:44] brendon commented on #302
You're welcome @joshuapinter :)

Create and update are definitely handled differently and here's where: https://github.com/swanandp/acts_as_list/blob/c999eff863e1426aa16f680fc9fbe52842dd788a/lib/acts_as_list/active_record/acts/callback_definer.rb#L15

Before create we will add to the list top or bottom provided the configuration option exists :) On update we don't do anything like that as it doesn

[2018-02-12 20:44] #302 closed

[2018-02-13 05:32] swanandp commented on #301
I don't mind, really. We just need a build pipeline.

[2018-02-13 05:37] swanandp commented on #301
Reading up on them right now.

[2018-02-13 05:41] swanandp commented on #301
Does Semaphore offer anything over Travis apart from easy SSH access?  Travis has debug mode for that: https://docs.travis-ci.com/user/running-build-in-debug-mode/

[2018-02-13 06:54] brendon commented on #301
It does, but I can't access it as it's a public repository. It requires you to do some convoluted `curl` API call with a key before it can be accessed.

I find it more responsive than travis in terms of build speed but that may differ for this project.

Up to you :)

[2018-02-14 15:39] swanandp commented on #301
I think a change is unwarranted right now, so let's stick to Travis.  But if in future we get trouble debugging anything, we can make the switch.

By the way, currently Travis does a whole matrix of builds, Ruby, Rails and DB versions -- I am guessing Semaphore supports all that.

[2018-02-14 20:50] brendon commented on #301
Good point. All I've ever seen is configuration for a specific ruby version per build. Perhaps travis is more advanced in this respect but I haven't dug into the semaphore side on this and there's no point in doing that at the moment :)

I'm happy with your decision :) Perhaps while you're debugging the jruby tests, have a go at the SSH thing and if you can get it to work, can you share the comman

[2018-02-14 20:50] #301 closed

[2018-02-27 12:39] hhunaid commented on #302
@brendon It seems to me that updating positions in db would be a common scenario. Consider this: My app allows reordering pictures and on update I would want to preserve the new order. Right now I have something like

[code]

in my `before_update` callback.

[2018-02-27 20:07] brendon commented on #302
Hi @hhunaid, It's common to do that but not in the model. Often it's done when a list of id's is supplied to the controller via params that determines the order of items in the scope.

If you have a list of things already well ordered, then want to reorder them, you can either pass through a list of id's to a `collection` route method and run something similar to what you have above, or you can ta

[2018-02-28 02:28] oyeanuj opened #303 "NoMethodError: undefined method `acts_as_list'"
Hey @brendon, I ran into an issue which feels awkwardly similar to #176 but the solution mentioned there doesn't seem to work for me.

I am on Rails 5.1.4 (API-only mode), and did the following as per the README:
1. Added it to Gemfile and installed the gem.
2. Created a column for the `position` in the intended model.
3. Added the following code snippet.
[code]
4. And got the following error:
[co

[2018-02-28 03:59] brendon commented on #303
Hi @oyeanuj, it definitely looks like acts_as_list isn't being required for some reason (or at least the `acts_as_list` method isn't being added to ActiveRecord::Base.

The class methods are added via this:

https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/active_record.rb

So if active_record isn't loading then perhaps that's the problem. Since you're restr

[2018-02-28 04:59] oyeanuj commented on #303
@brendon Thanks for the quick response! That makes sense but I am not sure why that might be happening since I've tested it with a clean Rails-API mode which includes ActiveRecord (I use it everywhere!)

Here is my `config/application.rb` if that helps: https://gist.github.com/oyeanuj/6b6db7f6b239c00f6039883bb3969919

[2018-02-28 08:47] brendon commented on #303
Thanks @oyeanuj :) It doesn't look like you're loading in `active_support` though I can't be sure. Perhaps that's always loaded anyway? If it's not, that might be the reason why the `on_load` callback isn't being called and thus `aal` isn't loading. Can you do some investigation down that track? Perhaps you only need to include a small part of active support to do with loading?

[2018-02-28 17:06] oyeanuj commented on #303
So, it seems like `ActiveSupport.onLoad` is being called. In one of the initializer files, I added the following code which got printed:

[code]

In general, FWIW, here is the list of middleware that an API-app comes with, by default: http://edgeguides.rubyonrails.org/api_app.html#choosing-middleware

Any ideas on what might be going on, given all of this?

Appreciate you taking the time to figure

[2018-02-28 20:21] brendon commented on #303
No worries :)

In that case what I'd do next is clone a local copy of acts_as_list and update your gem file to refer to that. Then you can start playing around with how the gem is loaded to see if you can figure out where it's going wrong. Try adding a logging line in our on_load callback to see if that logs anything etc...

It could be that we're initialising incorrectly somehow but hard to say :

[2018-03-04 09:36] davidwessman commented on #299
Do you need help with anything else? @brendon @swanandp

[2018-03-04 21:53] brendon commented on #299
Hi @davidwessman, just waiting on @swanandp to get the jruby test suite fixed :)

[2018-03-08 12:11] swanandp commented on #299
I looked into that -- it's a massive dependency versioning issue. We should add a note in README about currently broken JRuby support and move on for now. I will try to fix the problems in the coming days.

[2018-03-08 20:01] mathportillo commented on #92
sorry for commenting on a closed issue,
but should this be easier to achieve now that there is acts_as_list_no_update ?

[2018-03-08 21:37] brendon commented on #92
Yes, that's definitely the case, but that'd be implemented on your end. If you want to look at a solution regarding a scope that evaluates to `nil` then certainly have a go :)

[2018-03-08 21:56] brendon commented on #299
Thanks @swanandp, sounds good.

[2018-03-19 07:13] #299 closed

[2018-03-19 07:13] brendon commented on #299
I'll do a point release now.

[2018-03-19 07:27] brendon commented on #297
@hot-cheese could you follow this up with a failing test?

[2018-03-19 07:28] brendon commented on #295
@juggy, are you wanting to progress this issue still? :)

[2018-03-19 07:30] brendon commented on #254
Is there anything we can do to solve this issue or should we just close this one?

[2018-03-19 07:31] brendon commented on #291
@andrewhao, did you want to progress this issue?

[2018-03-19 07:32] brendon commented on #235
@seanarnold, is this still a problem for you?

[2018-03-19 07:33] brendon commented on #227
Closing this for now.

[2018-03-19 07:33] #227 closed

[2018-03-19 07:33] brendon commented on #131
@fabn, not sure what to do with this one. Should we close it for now?

[2018-03-19 09:53] ddengler commented on #235
@brendon sorry for not getting back to you on this. Sadly I cannot remember what we did back then to "fix" the issue for us. I just checked our error reporting again to be sure. Issue did not pop up for us anymore. We are currently using the latest version.

[2018-03-19 19:45] andrewhao commented on #291
Hi @brendon - given I've found a workaround, I don't feel strongly about this and would defer to you on your timeline. Thanks for your work on this!

[2018-03-19 19:58] seanarnold commented on #235
We still see the issue in `0.9.9`. Have changes to the locking behaviour been done since then?

[2018-03-19 21:13] brendon commented on #291
Thanks @andrewhao, I think I'll close this as sometimes it's not possible for us to know the fields to unscope (if they're passed in as a string). And since you have a workaround, and since Rails has fixed this, over time it won't be an issue and people can come here for the workaround if needed :)

[2018-03-19 21:13] #291 closed

[2018-03-19 21:16] brendon commented on #235
Not since then. We still only lock in the `insert_at_position()` function. If you have any ideas for how to solve this I'd be more than grateful :D

[2018-03-19 21:16] brendon commented on #235
It's probably more the implicit locks that come from updating large portions of the table at once (when shuffling positions etc...).

[2018-03-21 10:46] n-rodriguez commented on #301
@swanandp where did you see that SemaphoreCI supports matrix of builds?

[2018-03-21 10:49] n-rodriguez opened #307 "Travis badge"
Hi! It would be nice to have a Travis badge to show the build status.

Thank you!

[2018-03-21 10:50] n-rodriguez commented on #307
Already here... https://github.com/swanandp/acts_as_list#build-status
Just had to scroll down ;)

[2018-03-21 10:50] #307 closed

[2018-03-21 10:51] n-rodriguez commented on #307
Maybe it should be upper in the README?

[2018-03-21 10:53] strika commented on #301
Semaphore perhaps doesn't support matrix of builds as elegantly as Travis does, but it's really easy to set up. All you need to do is create a job for each Ruby (or any other platform) version that you want to execute tests on, setup the version and execute your test commands. It's really straightforward. Note that Semaphore allows you to add as many jobs as you want, even if you can run only one

[2018-03-21 10:55] n-rodriguez commented on #301
Ok. Thank you!

[2018-03-21 22:40] brendon commented on #307
Hi @n-rodriguez, all fixed now :)

[2018-03-21 22:43] brendon commented on #301
Lol, how did this issue get so much viewership? I'm confused :)

[2018-03-22 03:36] swanandp commented on #301
If I'm not mistaken, Striva here is quite a semaphore fan :)

On Thu, 22 Mar 2018 at 4:13 AM, Brendon Muir <notifications@github.com>
wrote:

[2018-03-22 13:00] lsarni opened #308 "acts_as_list methods on has_many through"
I'm using a `has_many through` relationship with a join table, like it was explained in some other issues and Stackoverflow.

This is how my models look like:

[code]

But if I try to use any of the `acts_as_list` methods like this:
[code]
I saw this [workaround](http://nicholshayes.co.uk/blog/?p=344) but since it's quite an old post I was wondering if the library has been extended to be usable on

[2018-03-22 13:51] n-rodriguez commented on #307
Thank you! It's the first thing I look at when I'm using a gem ;)

[2018-03-22 20:00] brendon commented on #308
Hi @lsarni, that's a mind bender. Do you only have a position column on the join table? or also on the links table?

`acts_as_list` assumes the column exists on the table that the model represents. And you're right, I'm pretty sure it also assumes a primary key column, though that might be more via rails.

[2018-03-22 20:55] brendon commented on #301
Haha! Yes, I just saw his homepage :D I'm a fan too!

[2018-03-22 21:18] strika commented on #301
I stumbled upon this issue by accident, since I use ActsAsList in a couple of projects. I was interested what you will choose, so I subscribed.

I worked on Semaphore till early 2016. And I still use Semaphore daily on several projects. So I am biased However, I tried to provide information in the comment, not to advertise.

As for the "likes" to my comment. I was surprised by that too. :)

[2018-03-22 22:26] lsarni commented on #308
I have the `position` column on the join table, it wouldn't make sense for it to be on the links table since a link can be in a different position depending on the update.

And the primary key is requested in quite a few of the list methods defined by the library, for example `higher_items` [here](https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L170

[2018-03-22 22:32] brendon commented on #308
I see, what if you just called the methods directly on the join association:

[code]

It's a bit messy, but should do the trick. What do you think?

[2018-03-23 12:08] lsarni commented on #308
I have tried it out, and I get this error:

[code]

The same happens for the other methods.

[2018-03-23 13:22] swanandp commented on #308
Shouldn't this be `acts_as_list scope: :collection` ?

You need `update.update_links.where(link: link).`**`first`**`.move_to_top`

[2018-03-23 13:28] lsarni commented on #308
@swanandp you're right, I was missing the `first`.

It works regardless of whether the scope is  `:update`  or `:collection`.

It is pretty messy, but it's is exactly what the workaround does so I'm going to keep that on my project so it looks neater. But feel free to close the issue.

[2018-03-23 15:40] swanandp commented on #308
Glad it's working.

[2018-03-23 15:49] #308 closed

[2018-03-23 20:59] brendon commented on #308
I think the scope should be `:update` since that's the foreign key name (`update_id`). That's for spotting my error @swanandp :D

[2018-04-02 14:09] lsarni commented on #308
I just noticed that this won't work for `insert_at` since in this case `update.update_links.where(link: link)` return nil because the link isn't part of the list yet.

[2018-04-03 09:14] brendon commented on #308
Instead of using `insert_at` just specify the position you want to create the record at. Other items will be shuffled around accordingly when the item is created.

[2018-04-13 10:58] vi-huynh commented on #235
I get  deadlock `PG::TRDeadlockDetected` is same @seanarnold.
I'm using  newest version 0.9.11 and  backtrace
[code]

[2018-04-13 11:07] vi-huynh commented on #235
@ddengler I just reproduce deadlock on development environment.
I config puma worker is 3 and try send multiple request to server.
And then get deadlock error.

[2018-04-13 21:56] brendon commented on #235
@vi-huynh, if you could do some more digging into this to figure out why, that would be helpful :) Keen to get this fixed :)

[2018-04-16 10:09] ddengler commented on #235
@vi-huynh makes sense to me as we fixed this by not doing our operations in parallel anymore. We are also using puma but now with workers set to 0 (= 1) and multiple threads within a docker container ( multiple containers within a cluster).

[2018-04-23 22:12] brendon commented on #235
Thanks @ddengler for offering some more info :) I'm at a loss as to the cause but it's probably to do with table scan's locking rows even if they're not the rows been updated. Could indexing help alleviate the problem?

[2018-04-26 16:05] bevinh commented on #303
Not working for me either. Did you find a fix @oyeanuj?

[2018-04-26 21:27] brendon commented on #303
Hi @bevinh, can you try the suggestion in my last comment? You need to pinpoint the loading sequence problem so we can figure out a way around it.

[2018-04-27 21:40] brendon commented on #303
Lol, I've never known it not to require a scope :) I suppose it doesn't need one though. I'm not even sure there's tests for that... Might be something to investigate if you have the time :)

[2018-05-22 23:01] seanabrahams opened #311 "`insert_at` saves invalid ActiveRecord objects"
If you construct an ActiveRecord object that doesn't pass validations and then call `insert_at` on it, acts_as_list will, in fact, save it to the database. It looks like this is intended behavior (https://github.com/swanandp/acts_as_list/blob/master/lib/acts_as_list/active_record/acts/list.rb#L213) but was surprising to me. Has this been discussed elsewhere? It seems like `insert_at` should fail w

[2018-05-23 00:08] brendon commented on #311
Hi @seanabrahams, thanks for bringing this up.

I think the `insert_at` method assumes the object is already persisted. Setting a position for a new (unsaved) object is as simple as setting the position attribute. `acts_as_list` will put the new object at that position when the object is saved.

We could perhaps look at preventing `insert_at` from working if the object isn't saved? It could even b

[2018-06-05 22:17] #311 closed

[2018-06-11 15:07] YoranBrondsema opened #314 "`no_update` is not applied to subclasses"
When you have something like

[code]

and do

[code]

then the computation of the position for `item` is still enabled.

[2018-06-21 06:22] swanandp commented on #314
Fixed through #315

[2018-06-21 06:22] #314 closed

[2018-06-22 11:04] shaam48 opened #316 "Default Ordering Attribute when not ordering in associated model"
Model1.rb
[code]

Model2.rb
[code]

Is it defaulting to ordering by :updated_at attribute?

[2018-06-22 12:00] shaam48 commented on #316
For some reason it is ordering it based on :updated_at attribute.

Ignore the polymorphic association made a mistake there.

[2018-06-23 05:14] brendon commented on #316
Are you actually calling Model1.ordered? Also, ordered might be a reserved word, try another scope name :)

[2018-08-08 20:32] robypez opened #317 "I still have gap between position..."
Hello, I'm on the latest version on Rails 5.2.

I have to save 2 times to remove the gap

[code]

Any idea?

[2018-08-08 21:04] robypez commented on #317
Here is the log

[code]

[2018-08-08 21:47] brendon commented on #317
Hi @robypez, thanks for raising an issue. We'll need more information I'm afraid. Give us what you're executing and what you expect to have happen.

[2018-08-08 21:57] robypez commented on #317
I have a class Cover with many items

[code]

The cover is the cover of this site [Dmove.it](https://www.dmove.it/)
The cover has 4 items (link to contents)
Every item has a position, I have different cover version.

When I replace an Item and I save the cover the first time I have a gap between the position.
The second time I save the gap disappear.

I add a after_save callback to my cover to log

[2018-08-08 22:04] brendon commented on #317
Thanks @robypez, are you able to replicate this problem in the console? It'd be good to see the console commands. There might be some double-saving going on somewhere? Acts As List isn't perfect at keeping the positions gapless but most of the time it is.

[2018-08-08 22:32] robypez commented on #317
No, because cover items are created on frontend using a vue app.
I just have the log...

Here is my post action. My cover has 4 items, so in my update I send also the item that I'm replacing.

[code]
This is the item that I'm replacing

`"4"=>{"id"=>"315", "_destroy"=>"1"}`

Here in the log the item is destroyd

`[1m[35mSQL (1.2ms)[0m  [1m[31mDELETE FROM "cover_items" WHERE "cover_items"."id"

[2018-08-08 23:35] brendon commented on #317
Ok. I assume you have some kind of API backend that rails is providing? What about the code from this. I really need to know what is being run in your create/update/destroy actions to be able to verify the problem. The code from the rails application is what I need.

[2018-08-09 12:18] axos88 commented on #317
I am also experiencing the issue.

`Model.create(attributes.merge(position: 42))` will not take into account the length of the list and will create gaps.

`Model.each { |m| m.update(position: m.position + 1) }; Model.create(attributes.merge(position: 0)` will also create a gap

[2018-08-09 13:54] robypez commented on #317
Here are my models

[code]

[2018-08-09 21:29] brendon commented on #317
@axos88, You don't need to shuffle things around to insert or move an item to a position, just set the new position for the item and `acts_as_list` will move things out of the way for you. That's the primary purpose for the gem.

In regards to your first example, `acts_as_list` isn't going to mess with your intended position integer if you specify it. If you want to add to the end of the list ther

[2018-08-09 21:32] brendon commented on #317
@robypez, I suspect it's this line:

[code]

`decrement_positions_on_lower_items` helps eliminate the gap in several scenarios. Try removing that skip callback.

[2018-08-10 07:40] axos88 commented on #317
@brendon, the frontend sends back the new order of things along with any new items (images) that were added. Processing that request results in the code shown above. It's quite realistic to insert new items and reorder the rest of them in the same request, and it causes bugs.

As for the other case, I'm strongly opinionated that this gem shouldn't allow gaps even in such cases. Because after havin

[2018-08-10 17:07] oyeanuj commented on #303
It worked once I upgraded to Rails 5.2 ¯\_(ツ)_/¯

[2018-08-10 17:07] #303 closed

[2018-08-10 17:09] oyeanuj opened #318 "Re-ordering at specific position"
Hi @brendon, quick question. Going through the docs, I couldn't find a method that would allow me to move an existing `list_item` to a new position and in effect, re-ordering rest of the items around it. It seems like `move_higher` or `move_lower` is the only thing available for that?

Am I missing something? Happy to PR the docs if there is some work around.

Thank you!

[2018-08-11 10:05] brendon commented on #317
Hi @axos88, you haven't shown me your controller code so I can't commend on how you're doing your reordering. Give me a look if you want. There are two ways to do it. Either send back to the controller the item that was moved, and the whole collection of id's in the scope in their determined order. Then in the controller determine the position of the item in the overall list of items and move it t

[2018-08-11 10:08] brendon commented on #318
Hi @oyeanuj :) You can just set the position of the existing item and upon saving, it will move other items out of the way to make room. Generally you'd need to know the position of the item you'd like to insert your current item in front of. Hope that helps :)

[2018-08-11 10:09] brendon commented on #303
SO weird! :D Glad you got it to work :)

[2018-08-11 13:37] Spone commented on #297
I'm having the same issue apparently. `top_of_list: 0` doesn't seem to be taken into account at all.

When seeding data, I have exactly the same `position`s, whether I add `top_of_list: 0` or not.

[2018-08-11 18:29] oyeanuj commented on #318
Got it, thanks so much!

[2018-08-11 18:29] #318 closed

[2018-08-12 04:50] brendon commented on #297
I'm going to close this due to inactivity.

[2018-08-12 04:50] #297 closed

[2018-08-13 12:57] axos88 commented on #317
Hi,

I'm not bypassing any of the callbacks.

I'm not using rails, but i'll share a piece of code to reproduce the issue:

[code]

Now `Image.all.order(:position).pluck(:position)` returns: `[0, 2,3,4]` instead of `[0,1,2,3]`

So again, the code to reproduce is:

[code]

[2018-08-13 22:12] brendon commented on #317
Thanks for the extra detail @axos88, on paper it should work. Could you provide one more bit of information: What are the positions of the items after each step in the process, i.e. after each step of the code in the last block can you grab a hash of `id: :position` so we can see at what point things to awry?

[2018-08-24 14:57] lsarni commented on #317
I'm also seeing so gaps on my lists. I found this recently since I added a drag and drop option for reordering the list that uses the position in the view to move the item and it breaks for all the items after the gap.

I'm using `insert_at` to reorder the list and this works as expected moving the item to the position I sent, but the list gets incorrectly ordered due to the presence of the gap.

[2018-08-24 20:30] brendon commented on #317
I'm wondering if it's because the list items themselves aren't being reloaded after each `insert_at`? They'll still think they have their old position, so when you subsequently change their position, the SQL will be all wrong. Can you try an experiment where you call `.reload` on each item before setting its position?

[2018-08-30 20:10] oyeanuj opened #321 "Is positioning limited to explicit belongs_to associations?"
Hi @brendon, quick question:

Does this plugin work best when there is a foreign key association in the same table (like with a belongs_to associations)?

In my case, I have some complex relationships, like the following:

_Posts (of different types like Audio, Video, Image, Text) have a single author and can have many sources (which is tracked in a separate table PostSource". A specific post type

[2018-08-30 20:52] brendon commented on #321
Hi @oyeanuj, `acts_as_list` doesn't really care about associations. It does care about scopes, but scoped attributes must be on the table that the position column is on. You can overwrite the scoping methods with custom logic but that's advanced usage. I hope that helps. Probably just give it a go and see how you get on :)

[2018-09-10 08:57] TheNeikos opened #322 "Using `top_of_list` set to 1 and setting a record to index 0 triggers a `PG::UniqueViolation`"
I've had quite a headache trying to use this gem, until I saw that `top_of_list` defaults to 1 and I try starting at 0.

This in turn caused a `PG::UniqueViolation` due to the incorrect swapping of objects. I think this could be prevented by raising an exception when trying to set an index that is lower than `top_of_list` ? (Which should be an error anyway imo)

Once I changed that setting the Exc

[2018-09-10 09:06] brendon commented on #322
Hi @TheNeikos :) We're keen to help improve things. Would you like to look at putting together a PR to add this exception along with a test?

[2018-09-16 18:26] TheNeikos commented on #322
Ping :grin:

[2018-09-18 16:48] cibernox opened #324 "Is it possible to have items belong to multiple lists?"
This wasn't clear from the documentation.

I have some items that belongs to two separate lists.
Within list A, one item can be on the second position, but within list B, that same record can be the first item.

I thought that the model could have two columns `position_1` and `position_2`, and thus be able to operate with them, but seems by the method names that they only operate over one list.

[2018-09-18 22:33] brendon commented on #324
Hi @cibernox, I'm not 100% sure we support that currently. You can define what the position column is but I don't know if you can have more than one `acts_as_list` declaration per model. Is it something you could work around with scopes instead?

Otherwise, take a look at `ranked_model` as that supports multiple ranks.

[2018-09-20 13:30] democlitos commented on #317
@lsarni have you found a way to go through this issue?

[2018-10-04 15:17] Silex commented on #254
Just wanted to mention https://github.com/ClosureTree/with_advisory_lock ("best" solution from http://benjit.com/rails/activerecord/2015/04/03/uniqueness-constraint-the-expected-exception)

[2018-10-07 21:31] brendon commented on #254
@Silex, I've had a quick look at that. Looks interesting. Is there anything there that we could apply to the gem itself?

[2018-10-08 06:43] Silex commented on #254
@brendon: yes/no/maybe :smile:

It's basically a mutex implemented by the database, so the data integrity comes with a performance price.

In my case I value data integrity more than performance but some people might disagree.

For this gem, the data update/insertion could be wrapped with something like:

[code]

where `acts_as_list_scope_value` would be the current instance scope that needs locki

[2018-10-23 02:51] DamirSvrtan opened #330 "Inconsistent behavior"
Hi! 👋 First of all, thank you for creating this gem!

It seems to me there is some inconsistent behavior in the gem between creating and updating items in a list.

If we have three items that currently live in the list:

| id  | position |
| ------------- | ------------- |
| 1 | 1 |
| 2 | 2 |
| 3 | 3 |

a) if we create an item and we insert it at position 3, we would push the item **number 3 to po

[2018-10-23 15:45] DamirSvrtan commented on #330
Hi @brendon! Thanks for the answer, now I understand what happens under the hood!

However, this does seem somewhat inconsistent in a sense that the consumers of the api that are implementing a drag and drop feature have to remember whether the item is coming from the top or the bottom of the list and depending on that implement logic where to insert the item. Or am I looking at it wrong?

[2018-10-23 19:00] brendon commented on #330
Drag and drop is totally tricky! Yes you either have to send through extra information about where the list item has been dropped (i.e. before or after another item id) or just rewrite the whole list:

[code]

It'd be good if we could just give a list position (i.e. a 0 based position of where we want the item in the overall list of items and have `acts_as_list` sort things out from there.)

[2018-10-29 06:03] DamirSvrtan commented on #330
Hey @brendon! Yeah, I expected that acts_as_list already has methods such as `insert_after` or `insert_before` but that they might not be documented well. Thanks for the explanations! Closing this, but just interested at wether there were some initiatives to do such work or was it considered too error prone due to scopes?

[2018-10-29 06:03] #330 closed

[2018-10-29 08:11] brendon commented on #330
Thanks @DamirSvrtan. It's not on our list of things to do, but we're happy to accept pull requests if you wanted to have a go at implementing the functionality :)

[2018-12-13 02:59] brendon commented on #287
Thanks @DanielHeath :) Would you be keen to put together a small PR for that? I'd be happy to merge that for you.

[2018-12-13 03:32] DanielHeath commented on #287
Makes sense to me, will do.

[2018-12-15 17:47] democlitos opened #332 "What's the correct behavior for add_new_at: nil ?"
The description says that <code>add_new_at: nil</code> "_will result in new items not being added to the list on create, i.e, position will be kept nil after create_", but it not says that subsequent scope changes will not change it's position. What should be the correct behavior?

Some context: I have a scope <code>acts_as_list scope: [:distribution_center, state: :preparation_queue]</code>, and

[2018-12-17 18:52] democlitos commented on #332
Hi @brendon. So If I use acts_as_list scope: [:distribution_center, state: "preparation_queue"] should be any different? I call acts_as_list scope on my order.rb Model that has this states:

[code]
orders_controller:

[code]

The problem occurs when I call <code>preparation</code> (from orders_controller), that should remove my order from the acts_as_list scope, as state would be equal to "prepara

[2018-12-17 21:30] brendon commented on #332
Hi @democlitos, I think I kind of get what you're talking about. One thing I thought you could try would be:

[code]

Even if you don't care about ordering other states, this should allow you to have a unique list per distribution centre and state. Acts as list should handle the transition between those lists with its callbacks.

Give that a try and let me know how you get on.

[2018-12-18 18:23] pacarvalho opened #333 "Can I Create a PR with a Function that "Fixes" List in Case of Duplicates?"
I have noticed that under some peculiar situations it is possible to end up with a list that contains duplicate positions in acts_at_list. The duplicate positions cause unexpected behaviors to acts_as_list and sometimes leads to errors.

Would it be OK if I created a PR with a function that fixes lists that contain duplicate positions?

It could be done by arbitrarily choosing an order for the ite

[2018-12-19 00:46] democlitos commented on #332
Didn't work. Same behavior. Do you think that is possible that the aasm transitions is blocking the acts_as_list callbacks?

[2018-12-30 11:32] calleo commented on #228
Just in case anyone else ends up here.

I was upgrading from 0.6 and tests started to fail when going from 0.7.2 to 0.7.4. All list items had position "1".

We are using Factory Girl 4.5 and Rails 4.2. This is how the code looks that was creating the list items `list.items << create(:item)`

Once I changed it to `create(:item, list: list)` things started to work again.

Note that we are using acts

[2019-01-02 06:17] brendon commented on #228
That's a strange one. Changing the list and re-saving the item should change the position to the next available position in the list. But you're right, supplying the list on create will give you correct positions :)

[2019-01-16 12:57] vishnun commented on #254
I'm trying to check if my rails app is thread safe or not and I came across this just now. I'm using 0.9.15 version and wanted to know if it still is thread UN-safe? I didn't find anything in the Readme regarding that locking mechanism. It'll help if someone can help me figure this out.

[2019-01-16 13:10] Silex commented on #254
@vishnun: it's thread safe in the sense it won't crash on you, but it's not thread safe in the sense you'll get invalid positions on concurrent inserts, etc.

[2019-02-01 10:13] vasilakisfil commented on #176
Surprisingly I am also getting the same error, in Rails 5.2.1.1. Had to manually require the gem in application.rb to make it work. Will investigate further to see what's the actual issue.

[2019-02-01 22:55] brendon commented on #176
Hi @vasilakisfil, yes please do get back to me on that. Generally it's that something is loading your model before the rails app is initialised.

[2019-02-08 19:34] nmoadev opened #337 "MySQL: "Deadlock found..." when creating a list item at position"
Hello,

I've come across an issue where concurrent requests to create items in a list at a specific position leads to sporadic, but reproducible errors from MySQL like the following:

[code]

#### Reproduction Code
I can reproduce this issue with code like the following.
[code]
For a complete, runnable example, see this Gist: [https://gist.github.com/nmoadev/0a078741e944ac5e5eec7fa80e6848f9]()
###

[2019-02-10 03:53] brendon commented on #337
Hi @nmoadev, yes please, we'd love you to look into this further :) I think it's got something to do with table scans locking rows on the table, and perhaps sometimes we're scanning the table in reverse order leading to deadlocks?

[2019-02-11 15:34] afuno opened #338 "Why can't I disable automatic position update?"
Rails 5.1.6.1. I use together with: https://github.com/moiristo/deep_cloneable.

Model code example:

[code]

Sample code in the controller:

[code]

All variations that are shown below don't work either:

[code]

As a result, blocks have different positions.
What could be the problem?

[2019-02-11 15:42] #338 closed

[2019-02-11 21:34] brendon commented on #338
I assume you solved the problem? :)

[2019-02-12 19:37] alejorivera opened #339 "Complex Scope: scope based on status attribute in polymorphic parent."
Hi there! Thanks for creating and maintaining this wonderful piece of software.

I'm running into a roadblock. I need to create an acts_as_list scope that checks the status of an association. The case is very similar to using the `paranoid` gem, except the `deleted_at` field is not on the record itself but on an association.

Is there a way to make this work?

Thank you!!

My models look like this

[2019-02-13 03:11] brendon commented on #228
@calleo, looking at this further, I'm wondering if `<<` runs any callbacks on the item being appended to the list? It needs to run the callbacks to pick up the change in scope, otherwise its position will remain as it is.

If you wanted to look into this further, feel free :) I'm happy to provide some guidance if necessary :)

[2019-02-13 20:59] brendon commented on #339
Hi @alejorivera, I'm not 100% sure if this is possible but I'll share some code I have for one of my custom scopes:

[code]

I hope that helps point you in the right direction. Basically you need to override the standard scoping methods to achieve what you want :)

[2019-02-13 20:59] #339 closed

[2019-02-20 19:51] nmoadev commented on #337
Hi @brendon,

I read through the "Contributing to acts_as_list" notes at the end of the README and wanted to check:

Does this project have a Contributor License Agreement or something similar?

[2019-02-20 22:28] brendon commented on #337
Hi @nmoadev, not that I'm aware of, but I'm not really savvy on such things. @swanandp might be able to shed more light. Why do you ask? :)

[2019-02-21 08:38] 7vs opened #340 "move_higher and move_lower need to be ran twice"
Hi,
I have an issue with acts_as_list in a simple has_many relationship.
When I try to update the position of items using the provided method I get an error:
'position taken', but if I run it again, I've got what was expected. Any thoughts?
[code]
here is the update action:
[code]